<div class='cart-popup'>
    <div class="cart-popup_body">
        <img class="cart_popup-img" src="">
        <div class="cart-popup_content">
            <p class="item_title"></p>
            <p class="success-message">is added to your shopping cart</p>
            <div class="actions">
                <a href="/collections/all" class="action_button">Continue Shopping</a>
                <a href="/cart" class="action_button">Go To Cart</a>
            </div>
        </div>
    </div>
    <div class="cart-popup_notification">
        <img src="{{ 'alert_icon.png' | asset_url }}">
        <p>Reminder: An item in your cart is in high demand. But no worries, we have reserved your order for the next 20 minutes.</p>
    </div>
</div>