<div class="faqs" data-module-init="faqs">
  <div class="faqs__container container container--l">
    <div class="faqs__inner">
      {% if title != blank %}
        <h2 class="how-does-it-work__title align-c">{{ title }}</h2>
      {% endif %}

      {% if blocks.size > 0 %}
        <div class="faqs__list">
          {% for block in blocks %}
            {% assign question = block.settings.title %}
            {% assign answer = block.settings.content %}

            <div class="faqs__item">
              {% if question != blank %}
                <h4 class="faqs__item-question bold">
                  {{ question }}
                  <span class="faqs__arrow"></span>
                </h4>
              {% endif %}
              {% if answer != blank %}
                <div class="faqs__item-answer">
                  <div class="faqs__item-answer-inner">
                    {{ answer }}
                  </div>
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
