<style>
  @font-face {
    font-family: 'Quickpen';
    src: url("{{ 'Quickpen.eot' | asset_url }}");
    src: url("{{ 'Quickpen.eot?#iefix' | asset_url }}") format('embedded-opentype'),
    url("{{ 'Quickpen.woff2' | asset_url }}") format('woff2'),
    url("{{ 'Quickpen.woff' | asset_url }}") format('woff'),
    url("{{ 'Quickpen.ttf' | asset_url }}") format('truetype');
    font-weight: 400;
    font-style: normal;
  }
</style>
