{% comment %}
  Parameters
  * class
  * image
  * title
  * text
  * content_alignment
  * blocks
{% endcomment %}

{% assign content_alignment = content_alignment | default: 'right' %}

{%- capture css -%}
  full-width-image {{ class }}
{%- endcapture -%}

{% if image != blank %}
  {% assign image_url = image | img_url: 'master' %}

  <div class="{{ css | strip }}">
    <div class="full-width-image__container container container--xl">
      <div class="full-width-image__featured">
        <figure class="full-width-image__image image--cover image--loaded" role="img">
          <img class="image__img" src="{{ image_url }}" alt="">
        </figure>
      </div>
      {% if title != blank %}
        <div class="full-width-image__inner full-width-image__inner--content-{{ content_alignment }}">
          <div class="full-width-image__col">
            <div class="full-width-image__content">
              <div class="full-width-image__title">{{ title }}</div>
              {% if text != blank %}
                <div class="full-width-image__text">{{ text }}</div>
              {% endif %}
            </div>
          </div>
          <div class="full-width-image__col">
            {% if blocks != blank %}
              <div class="full-width-image__icons">
                {% for item in blocks %}
                  {% assign image_src = item.settings.image | img_url: 'master' %}
                  <div class="full-width-image__icon">
                    <figure class="full-width-image__icon-image image--loaded" role="img">
                      <img class="image__img" src="{{ image_src }}" alt="">
                    </figure>
                  </div>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </div>
  </div>
{% endif %}
