<div class="hero">
  <div class="hero__container">
    <div class="hero__inner relative">

      <div class="hero__image-inner">
        {% assign image_camera_src = image_camera | img_url: '2160x' %}
        {% if image_camera != blank %}
          <div class="hero__camera">
            <figure class="hero__camera-wrapper image--contain image--loaded ratio ro-1" role="img">
              <img class="image__img" src="{{ image_camera_src }}" alt="">
            </figure>
          </div>
        {% endif %}

        {% assign image_src = image | img_url: '2160x' %}
        {% if image != blank %}
          <div class="hero__banner">
            <figure class="hero__banner-wrapper image--cover image--loaded ratio" role="img">
              <img class="image__img" src="{{ image_src }}" alt="">
            </figure>
          </div>
        {% endif %}

        {% if image_mobile != blank %}
          {% assign image_mobile_src = image_mobile | img_url: '2160x' %}
        {% else %}
          {% assign image_mobile_src = image | img_url: '2160x' %}
        {% endif %}
        {% if image_mobile_src != blank %}
          <div class="hero__banner hero__banner--mobile">
            <figure class="hero__banner-wrapper image--cover image--loaded ratio ro-2" role="img">
              <img class="image__img" src="{{ image_mobile_src }}" alt="">
            </figure>
          </div>
        {% endif %}
        <span class="hero__arrow js-hero-arrow">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M12.023 1.952V19.75l-4.356-4.247a.994.994 0 00-1.38 0 .935.935 0 000 1.347l6.022 5.872a.994.994 0 001.382 0l6.023-5.872a.937.937 0 000-1.347.994.994 0 00-1.381 0l-4.356 4.247V1.952A.965.965 0 0013 1a.965.965 0 00-.977.952z" fill="#fff"/></svg>
        </span>
      </div>

      <div class="hero__content">
        <div class="hero__content-container container">
          <div class="hero__content-inner relative">
          {% assign icon_src = icon | img_url: '2160x' %}
          {% if icon != blank %}
            <div class="hero__icon">
              <figure class="hero__icon-wrapper image--contain image--loaded ratio ro-2" role="img">
                <img class="image__img" src="{{ icon_src }}" alt="">
              </figure>
            </div>
          {% endif %}

          {% if title != blank %}
            <h2 class="hero__title hero-title"><span>{{ title }}</span></h2>
          {% endif %}

          {% if sub_title != blank %}
            <h4 class="hero__sub-title"><span>{{ sub_title }}</span></h4>
          {% endif %}

          {% if cta_url != blank and cta_url != blank %}
            <div class="hero__cta-button">
              <a class="btn" href="{{ cta_url }}">{{ cta_text }}</a>
            </div>
          {% endif %}
        </div>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  jQuery(document).ready(function () {
    function scrollToAnchor(el) {
      var el = $(el);
      $('html,body').animate({ scrollTop: el.offset().top}, 600);
    }
    $(".js-hero-arrow").click(function (e) {
      e.preventDefault();
      scrollToAnchor('.js-two-up');
    });
  });
</script>
