<div class="how-does-it-work" data-module="how-does-it-work">
  <div class="how-does-it-work__container container container--l">
    <div class="how-does-it-work__inner f jcc aic">
      {% assign image_right_src = image_right | img_url: '2160x' %}
      {% if image_right_src != blank %}
        <div class="how-does-it-work__image">
          <figure class="how-does-it-work__image-wrapper image--cover image--loaded ratio ro-2" role="img">
            <img class="image__img" src="{{ image_right_src }}" alt="">
          </figure>
        </div>
      {% endif %}
      <div class="how-does-it-work__block relative f jcc aic">
        {% assign image_left_src = image_left | img_url: '2160x' %}
        {% if image_left_src != blank %}
          <div class="how-does-it-work__image-left">
            <figure class="how-does-it-work__image-left-wrapper image--cover image--loaded ratio ro-2" role="img">
              <img class="image__img" src="{{ image_left_src }}" alt="">
            </figure>
          </div>
        {% endif %}

        <div class="how-does-it-work__data">
          {% if title != blank %}
            <h2 class="how-does-it-work__title align-c">{{ title }}</h2>
          {% endif %}

          {% if blocks.size > 0 %}
            <div class="how-does-it-work__rows">
              {% for block in blocks %}
                <div class="how-does-it-work__row">
                  {% assign number = block.settings.number %}
                  {% assign block_title = block.settings.title %}
                  {% assign content = block.settings.content %}

                  <div class="how-does-it-work__heading relative">
                    {% if number != blank %}
                      <h1 class="how-does-it-work__number uppercase bold">{{ number }}</h1>
                    {% endif %}

                    {% if block_title != blank %}
                      <h2 class="how-does-it-work__block-title uppercase bold">{{ block_title }}</h2>
                    {% endif %}
                  </div>

                  {% if content != blank %}
                    <div class="how-does-it-work__content uppercase black">{{ content }}</div>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
