<div class="how-to-earn">
  <div class="how-to-earn__container container">
    <div class="how-to-earn__inner f jcc aic">
      {% if image != blank %}
        {%- assign image_src = image | img_url: '2160x' -%}
        <div class="how-to-earn__image">
          <figure class="how-to-earn__image-wrapper image--cover image--loaded ratio ro-2" role="img">
            <img class="image__img" src="{{ image_src }}" alt="">
          </figure>
        </div>
      {% endif %}
      <div class="how-to-earn__blocks">
        <div class="how-to-earn__blocks-inner w1">
          {% if title != blank %}
            <h2 class="how-to-earn__title align-c">{{ title }}</h2>
          {% endif %}

          {% if blocks.size > 0 %}
            <div class="how-to-earn__list f jcc aic">
              {% for block in blocks %}
                {% assign block_image_src = block.settings.image | img_url: '2160x' %}
                {% assign block_title = block.settings.title %}
                {% assign block_content = block.settings.subtitle %}
                <div class="how-to-earn__item">
                  {% if block_image_src != blank %}
                    <div class="how-to-earn__item-image">
                      <figure class="how-to-earn__item-image-wrapper image--contain image--loaded ratio ro-2" role="img">
                        <img class="image__img" src="{{ block_image_src }}" alt="">
                      </figure>
                    </div>
                  {% endif %}

                  {% if block_title != blank %}
                    <p class="how-to-earn__item-title align-c">{{ block_title }}</p>
                  {% endif %}

                  {% if block_content != blank %}
                    <p class="how-to-earn__item-content align-c bold">{{ block_content }}</p>
                  {% endif %}
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
