{% comment %}
  Snippet can be used in section or block
  eg. {% include 'include-featured-text' %}
{% endcomment %}

{% comment %}Assign object as block or section{% endcomment %}
{% if type == 'block' %}
  {% assign object = block %}
{% else %}
  {% assign object = section %}
{% endif %}

{% assign id = object.id %}
{% comment %}Featured text settings {% endcomment %}
{% assign image = object.settings.image %}
{% assign title = object.settings.title %}
{% assign content = object.settings.content %}
{% assign text_size = object.settings.text_size %}
{% assign text_alignment = object.settings.text_alignment %}
{% assign button_label = object.settings.button_label %}
{% assign button_link = object.settings.button_link %}
{% assign bg_color = object.settings.bg_color %}

<div class="container">
  <div class="sixteen columns">
    <div class="rich-text__content section {{ text_alignment }} clearfix">
      {% if image %}
        <img src="{{ image | img_url: '80x' }}" class="fixed_image">
      {% endif %}

      {% if title != blank %}
        <h2 class="rich-text__heading title">
          {{ title }}
        </h2>
        <div class="feature_divider"></div>
      {% endif %}

      <div class="rich-text__text {{ text_size }}">
        {% if content != blank %}
          {{ content }}
        {% endif %}

        {% if button_label != blank %}
          <a href="{{ button_link }}" class="action_button">
            {{ button_label }}
          </a>
        {% endif %}
      </div>
    </div>
  </div>
</div>

{% if bg_color %}
<style>
 #shopify-section-{{section.id}} .container{
     background-color: {{ bg_color }};
 }
</style>
{% endif %}