{% comment %} <div data-oke-reviews-product-listing-rating>{{ product.metafields.okendo.ProductListingSnippet }}</div> {% endcomment %}
<div data-oke-reviews-product-listing-rating>{{ product.metafields.global.starRating }}</div>