  <div class="product-details__blocks clearfix">
    {% if section.blocks.size > 0 %}
      {% for block in section.blocks %}

        <div {{ block.shopify_attributes }} class="block__{{ block.type }} block__{{ block.id }}
        {% if block.type == "featured_collection" %}
          featured-collection-section
        {% endif %}
        ">

          {% if block.type == "blog_posts" %}
            <!-- Blog posts -->
            {% include 'include-featured-blog', type: 'block' %}

          {% elsif block.type == "contact_form" %}
            <!-- Contact form -->
            {% include 'include-contact-form', type: 'block' %}

          {% elsif block.type == "featured_video" %}
            <!-- Featured video -->
            {% include 'include-video', type: 'block' %}

          {% elsif block.type == 'image_gallery' %}
            <!-- Image gallery -->
            {% include 'include-gallery', type: 'block' %}

          {% elsif block.type == "image_with_text" %}
            <!-- Image with text -->
            {% if block.settings.layout == false %}
              <div class="container standard--width">
            {% endif %}
            {% if block.settings.headline != '' %}
              <h2 class="title center">{{ block.settings.headline }}</h2>
            {% endif %}
            <div class="image-with-text
              featured_collections
              clearfix across-1 image-align--{{ block.settings.frontpage_image_position }}">
              <section class="featured-link--section featured-link--image section-{{ forloop.index }}">
                <div class="featured-link--half featured-link--image {% if block.settings.layout == false %}featured-link--margin{% endif %} image-crop--{{ block.settings.image_crop }}">
                  <div class="featured-link--wrap">
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} title="{{ block.settings.title }}">
                      {% if block.settings.image %}
                        {% render 'image-element',
                                image: block.settings.image,
                                alt: block.settings.image.alt
                        %}
                      {% else %}
                        {% capture i %}{% cycle "1", "2", "3", "4", "5", "6" %}{% endcapture %}
                        {{ 'collection-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--promotions' }}
                      {% endif %}
                    </a>
                  </div>
                </div>
                <div class="featured-link--half">
                  <div class="info text-align--{{block.settings.frontpage_text_align}}">
                    <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="collection_title">
                      {{ block.settings.title }}
                    </a>
                    {% if block.settings.text != blank %}
                      <div class="description">{{ block.settings.text }}</div>
                    {% endif %}
                    {% if block.settings.button_label != blank %}
                      <a {% if block.settings.link != blank %}href="{{ block.settings.link }}"{% endif %} class="button">
                        {{ block.settings.button_label }}
                      </a>
                    {% endif %}
                  </div>
                </div>
              </section>
            </div>
            {% if block.settings.layout == false %}
              </div>
            {% endif %}

            {% if block.settings.bg_color %}
              <style>
                .block__{{ block.id }}{
                  background-color: {{ block.settings.bg_color }};
                }
              </style>
            {% endif %}

            {% if block.settings.layout == false %}
              <style>
                .standard--width .featured-link--margin {
                  margin-left: 0%;
                  margin-right: 3%;
                }

                .standard--width .image-align--right .featured-link--margin {
                  margin-left: 3%;
                  margin-right: 0%;
                }

                .standard--width .featured-link--half {
                  width: 45%;
                }
              </style>
            {% endif %}

          {% elsif block.type == 'map' %}
            <!-- Map -->
            {% include 'include-map', type: 'block' %}

          {% elsif block.type == "page" %}
            <!-- Page -->
            {% include 'include-content-page', type: 'block' %}

          {% elsif block.type == 'quote' %}
            <!-- Quote -->
            {% include 'include-quote', type: 'block' %}

          {% elsif block.type == "rich_text_and_image" %}
            <!-- Rich text and image -->
            {% include 'include-featured-text', type: 'block' %}

          {% elsif block.type == 'product_reviews' %}
            <!-- Reviews -->
            <div class="container">
              {% include 'include-reviews', type: 'block' %}
            </div>

          {% elsif block.type == 'divider' %}
            <!-- Divider -->
            {% include 'include-divider', type: 'block' %}

          {% elsif block.type == "featured_collection" %}
            <!-- Featured collection -->
            {% include 'include-featured-collection', type: 'block' %}

          {% elsif block.type == "image_with_text_overlay" %}
            <!-- Image with text overlay -->
            {% include 'include-image-with-text-overlay', type: 'block' %}

          {% elsif block.type == "recently_viewed_products" %}
            <!-- Recently Viewed Products -->
            {% include 'include-recently-viewed', type: 'block' %}

          {% elsif block.type == "recommended_products" %}
            <!-- Recommended Products -->
            <div class="product-recommendations" data-recommendations-url="{{ routes.product_recommendations_url }}" data-product-id="{{ product.id }}"></div>

          {% elsif block.type == "custom_html" %}
            <!--Custom HTML -->
            {% include 'include-custom-html', type: 'block' %}

          {% endif %}
        </div>
      {% endfor %}
    {% endif %}
  </div>