
{% comment %}
  Parameters
  * class
  * title
  * text
  * blocks
{% endcomment %}

{%- capture css -%}
  three-up {{ class }}
{%- endcapture -%}

<div class="{{ css | strip }}" data-module-init="three-up">
  <div class="three-up__container container container--xl">
    {% if title != blank %}
      <h2 class="three-up__title">{{ title }}</h2>
    {% endif %}

    {% if blocks != blank %}
      <div class="three-up__list">
        {% for block in blocks %}
          {% assign image_url = block.settings.image | img_url: 'master' %}
          {% assign block_title = block.settings.title %}
          {% assign block_url = block.settings.url %}
          {% assign html_tag = 'div' %}

          {% if block_url != blank %}
            {% assign html_tag = 'a' %}
          {% endif %}

          <div class="three-up__item">
            <{{ html_tag }} {% if block_url != blank %}href="{{ block_url }}"{% endif %} class="three-up__item-inner">
              {% if image_url != blank %}
                <figure class="three-up__item-image image--cover image--loaded" role="img">
                  <img class="image__img" src="{{ image_url }}" alt="">
                </figure>
              {% endif %}
              {% if block_title != blank %}
                <h3 class="three-up__block-title">
                  <span>{{ block_title }}</span>
                </h3>
              {% endif %}
            </{{ html_tag }}>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
