<div class="tier-overview">
  <div class="tier-overview__container container container--l">
    <div class="tier-overview__inner">
      {% if title != blank %}
        <h2 class="tier-overview__title align-c">{{ title }}</h2>
      {% endif %}

      {% if blocks.size > 0 %}
        <div class="tier-overview__images f jcc aic">
          {% for block in blocks %}
            {% assign block_image_src = block.settings.image | img_url: '2160x' %}
            {% if block_image_src != blank %}
              <div class="tier-overview__image">
                <figure class="tier-overview__image-wrapper image--contain image--loaded ratio ro-2" role="img">
                  <img class="image__img" src="{{ block_image_src }}" alt="">
                </figure>
              </div>
            {% endif %}
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
