<div class="tier-benefits">
  <div class="tier-benefits__container container container--l">
    <div class="tier-benefits__inner">
      {% if title != blank %}
        <h2 class="tier-benefits__title align-c">{{ title }}</h2>
      {% endif %}

      {% if blocks.size > 0 %}
        <div class="tier-benefits__rows">
          <div class="tier-benefits__row tier-benefits__row--head">
            <div class="tier-benefits__row-inner">
              <div class="tier-benefits__row-tier row-tier--one">
                <p class="badge">Silver</p>
                <p class="price">Spend $0 - $250</p>
              </div>
              <div class="tier-benefits__row-tier row-tier--two">
                <p class="badge">Gold</p>
                <p class="price">Spend $251 - $750</p>
              </div>
              <div class="tier-benefits__row-tier row-tier--three">
                <p class="badge">Platinum</p>
                <p class="price">Spend $751 - $1500</p>
              </div>
              <div class="tier-benefits__row-tier row-tier--four">
                <p class="badge">Elite</p>
                <p class="price">Spend $1500+</p>
              </div>
            </div>
          </div>
          {% for block in blocks %}
            <div class="tier-benefits__row">
              {% assign block_title = block.settings.title %}
              {% assign block_tier_one = block.settings.tier_one %}
              {% assign block_tier_two = block.settings.tier_two %}
              {% assign block_tier_three = block.settings.tier_three %}
              {% assign block_tier_four = block.settings.tier_four %}

              {% if block_title != blank %}
                <h4 class="tier-benefits__tier-title uppercase bold">{{ block_title }}</h4>
              {% endif %}

              <div class="tier-benefits__tiers">
                <div class="tier-benefits__tier tier--one">
                  {% if block_tier_one %}
                    <div class="tier-benefits__tier-circle bg-white"></div>
                  {% endif %}
                </div>
                <div class="tier-benefits__tier tier--two">
                  {% if block_tier_two %}
                    <div class="tier-benefits__tier-circle bg-yellow"></div>
                  {% endif %}
                </div>
                <div class="tier-benefits__tier tier--three">
                  {% if block_tier_three %}
                    <div class="tier-benefits__tier-circle bg-gray"></div>
                  {% endif %}
                </div>
                <div class="tier-benefits__tier tier--four">
                  {% if block_tier_four %}
                    <div class="tier-benefits__tier-circle bg-black"></div>
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
  </div>
</div>
