{% comment %}
  Parameters
  * class
  * title
  * image
  * content_alignment
  * blocks
{% endcomment %}

{% assign content_alignment = content_alignment | default: 'right' %}

{%- capture css -%}
  top-features {{ class }}
{%- endcapture -%}

<div class="{{ css | strip }}" data-module-init="top-features">
  <div class="top-features__container container container--xl">
    {% if title != blank %}
      <h2 class="top-features__title">{{ title }}</h2>
    {% endif %}
    <div class="top-features__inner top-features__inner--content-{{ content_alignment }}">
      <div class="top-features__featured">
        {% assign image_src = image | img_url: 'master' %}
        {% if video != blank %}
          <div class="video-wrapper">
            <div class="video-container" id="video-container">
              <video controls id="video" preload="metadata" poster="{{ image_src }}">
                <source src="{{ video }}" type="video/mp4">
              </video>
              <div class="play-button-wrapper">
                <div title="Play video" class="play-gif" id="circle-play-b">
                  <!-- SVG Play Button -->
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 80 80">
                    <path d="M40 0a40 40 0 1040 40A40 40 0 0040 0zM26 61.56V18.44L64 40z" />
                  </svg>
                </div>
              </div>
            </div>
          </div>
        {% else %}
          {% if image != blank %}
            <figure class="top-features__image-wrapper image--cover image--loaded" role="img">
              <img class="image__img" src="{{ image_src }}" alt="">
            </figure>
          {% endif %}
        {% endif %}

      </div>
      <div class="top-features__content">
        {% if blocks != blank %}
          <div class="top-features__wrap">
            {% for block in blocks %}
              {% assign image_url = block.settings.image | img_url: 'master' %}
              {% assign block_title = block.settings.title %}

              <div class="top-features__item">
                {% if image_url != blank %}
                  <figure class="top-features__item-image image--contain image--loaded" role="img">
                    <img class="image__img" src="{{ image_url }}" alt="">
                  </figure>
                {% endif %}
                {% if block_title != blank %}
                  <p class="top-features__item-title">{{ block_title }}</p>
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
