
{% comment %}
  Parameters
  * class
  * layout
  * title
  * text
  * blocks
  * object_fit
{% endcomment %}

{% assign layout = layout | default: 'default' %}
{% assign content_alignment = content_alignment | default: 'left' %}
{% assign object_fit = object_fit | default: 'cover' %}

{%- capture css -%}
  two-up two-up--{{ layout }} {{ class }}
{%- endcapture -%}

<div class="{{ css | strip }} js-two-up">
  <div class="two-up__container container container--xl">
    {% if title != blank %}
      <h2 class="two-up__title">{{ title }}</h2>
    {% endif %}
    {% if text != blank %}
      <p class="two-up__text">{{ text }}</p>
    {% endif %}

    {% if blocks != blank %}
      {% for block in blocks %}
        {% assign image_url = block.settings.image | img_url: 'master' %}
        {% assign number = block.settings.number %}
        {% assign block_title = block.settings.title %}
        {% assign block_text = block.settings.text %}
        {% assign block_text_list = block.settings.text_list %}
        {% assign cta_text = block.settings.cta_text %}
        {% assign cta_url = block.settings.cta_url %}
        {% assign content_alignment = block.settings.content_alignment | default: 'left' %}
        {% assign border = block.settings.border | default: 'none' %}

        <div class="two-up__inner two-up__inner--content-{{ content_alignment }}">
          <div class="two-up__content two-up__content--border-{{ border }}">
            <div class="two-up__content-inner">
              {% if number != blank %}
                <div class="two-up__number">{{ number }}</div>
              {% endif %}
              {% if block_title != blank %}
                <div class="two-up__block-title">{{ block_title }}</div>
              {% endif %}
              {% if block_text != blank %}
                <div class="two-up__block-text">{{ block_text }}</div>
              {% endif %}
              {% if block_text_list != blank %}
                <div class="two-up__block-text-list">{{ block_text_list }}</div>
              {% endif %}
              {% if cta_text != blank and cta_url != blank %}
                <a href="{{ cta_url }}" class="two-up__cta">{{ cta_text }}</a>
              {% endif %}
            </div>
          </div>
          <div class="two-up__featured">
            {% if image_url != blank %}
              <figure class="two-up__image-wrapper image--{{ object_fit }} image--loaded" role="img">
                <img class="image__img" src="{{ image_url }}" alt="">
              </figure>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    {% endif %}
  </div>
</div>
