.collection-template-section {
  margin-top: 90px;

  @media (min-width: break($s)) {
    margin-top: 130px;
  }
}

.product-list .image-element__wrap {
  position: relative;
  padding-bottom: 110%;
}

.product-list .thumbnail img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  object-fit: contain;
}