.faqs {
  padding-bottom: 40px;

  @media (min-width: break($m)) {
    padding-bottom: 60px;
  }
}

.faqs.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.faqs__item {
  overflow: hidden;
  border-bottom: 1px solid $c-gray;
}

.faqs__item-question {
  position: relative;
  margin: 0;
  padding: 16px 25px 16px 0;
  cursor: pointer;
}

.faqs__item-answer {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: height $speed $ease, visibility $speed $ease, opacity $speed $ease;

  .faqs__item--active & {
    visibility: visible;
    opacity: 1;
    height: auto;
  }
}

.faqs__item-answer-inner {
  padding: 0 25px 16px 0;

  p {
    margin: 0;
  }
}

.faqs__arrow {
  position: absolute;
  top: 35%;
  right: 0;
  width: 15px;
  height: 15px;
  pointer-events: none;

  .faqs__item--active & {
    &:before {
      transform: translateY(-50%) rotate(-90deg);
      opacity: 0;
    }
    &:after {
      transform: translateY(-50%) rotate(0);
    }
  }

  &:before , &:after {
    content: "";
    display: block;
    background-color: $c-black;
    position: absolute;
    top: 50%; left: 0;
    transition: .35s;
    width: 100%;
    height: 2px;
  }

  &:before {
    transform: translateY(-50%);
  }

  &:after {
    transform: translateY(-50%) rotate(90deg);
  }
}
