.tier-benefits {
  padding-bottom: 40px;

  @media (min-width: break($m)) {
    padding-bottom: 60px;
  }
}

.tier-benefits__container.container {
  padding: 0;
}

.tier-benefits__inner {
  @media (min-width: break($m)) {
    margin: 0 auto;
  }
}

.tier-benefits__title {
  margin: 0 0 30px;

  @media (min-width: break($s)) {
    margin: 0 0 40px;
  }

  @media (min-width: break($m)) {
    margin: 0 0 60px;
  }
}

.tier-benefits__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 10px;
  background-color: $c-light-gray;

  @media (min-width: break($s)) {
    max-width: 688px;
    margin: 0 auto 3px;
    padding: 15px 0 15px 15px;
  }

  @media (min-width: break($m)) {
    max-width: 100%;
  }

  @media (min-width: break($l)) {
    max-width: 1040px;
  }
}

.tier-benefits__row--head {
  display: none;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;

  @media (min-width: break($s)) {
    display: block;
    max-width: 688px;
    margin: 0 auto;
  }

  @media (min-width: break($l)) {
    max-width: 1040px;
  }
}

.tier-benefits__row-inner {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.tier-benefits__row-tier {
  margin: 0 3px;
  padding: 0 10px 7px;
  background-color: $c-dark-gray;
  color: $c-white;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  @media (min-width: break($s)) {
    padding: 0 3px 5px;
    width: 100px;
  }

  @media (min-width: break($l)) {
    padding: 0 10px 7px;
    width: 145px;
  }

  .badge {
    font-family: $font-tertiary;
    font-size: 15px;
    margin-bottom: 2px;
    margin-top: 4px;
  }

  .price {
    font-size: 9px;
    text-transform: uppercase;

    @media (min-width: break($l)) {
      font-size: 11px;
    }
  }

  p {
    margin: 0;
  }
}

.tier-benefits__tier-title {
  margin: 0;
  padding: 0;

  @media (min-width: break($s)) {
    width: 38%;
  }

  @media (min-width: break($m)) {
    width: 42%;
  }
}

.tier-benefits__tiers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 20px;

  @media (min-width: break($s)) {
    justify-content: flex-end;
    width: 62%;
    margin-left: 0;
  }

  @media (min-width: break($m)) {
    width: 58%;
  }
}

.tier-benefits__tier {
  width: 30px;

  @media (min-width: break($s)) {
    width: 106px;
  }

  @media (min-width: break($l)) {
    width: 151px;
  }
}

.tier-benefits__tier-circle {
  border-radius: 50%;
  display: block;
  margin: auto;
  width: 20px;
  height: 20px;

  @media (min-width: break($m)) {
    width: 25px;
    height: 25px;
  }
}

