.how-does-it-work {
  padding-bottom: 40px;

  @media (min-width: break($m)) {
    padding-bottom: 60px;
  }
}

.how-does-it-work__container.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.how-does-it-work__inner {
  display: block;

  @media (min-width: break($m)) {
    display: flex;
    align-items: stretch;
    flex-direction: row-reverse;
  }
}

.how-does-it-work__image {
  width: 100%;

  @media (min-width: break($m)) {
    width: 50%;
  }
}

.how-does-it-work__image-wrapper {
  width: 100%;
  height: 100%;
  min-height: 180px;

  @media (min-width: break($s)) {
    min-height: 300px;
  }

  @media (min-width: break($m)) {
    min-height: 650px;
  }

  @media (min-width: break($l)) {
    min-height: 800px;
  }
}

.how-does-it-work__block {
  width: 100%;

  @media (min-width: break($m)) {
    width: 50%;
  }
}

.how-does-it-work__image-left {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.how-does-it-work__image-left-wrapper {
  width: 100%;
  height: 100%;

  @media (min-width: break($m)) {
    min-height: 650px;
  }

  @media (min-width: break($l)) {
    min-height: 800px;
  }
}

.how-does-it-work__title {
  margin-bottom: 40px;

  @media (min-width: break($m)) {
    font-size: 25px;
    margin-bottom: 60px;
  }
}

.how-does-it-work__row {
  margin-bottom: 40px;

  @media (min-width: break($m)) {
    margin-bottom: 60px;
  }
}

.how-does-it-work__data {
  width: calc(100% - 40px);
  margin: 0 auto;
  padding: 40px 0;

  @media (min-width: break($m)) {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
  }

  @media (min-width: break($l)) {
    max-width: 490px;
  }
}

.how-does-it-work__heading {
  padding-left: 30px;

  @media (min-width: break($m)) {
    padding-left: 45px
  }
}

.how-does-it-work__content {
  padding-left: 30px;

  @media (min-width: break($m)) {
    padding-left: 45px
  }
}

.how-does-it-work__number {
  font-family: $font-tertiary;
  font-size: 40px;
  font-weight: bold;

  position: absolute;
  top: -25px;
  left: 0;
  margin: 0;
  padding: 0;

  @media (min-width: break($m)) {
    font-size: 60px;
    top: -38px;
  }
}
