.three-up {
  margin: 50px 0;

  @media (min-width: break($s)) {
    margin: 64px 0;
  }
}

.three-up__container {
  padding: 0 !important;

  @media (min-width: break($l)) {
    width: calc(100% - 248px);
  }
}

.three-up__title {
  margin: 0 0 48px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 800;
  text-align: center;
}

.three-up__list {
  flex-wrap: wrap;
  display: flex;
  margin: 0 -8px;
}

.three-up__item {
  margin-bottom: 16px;
  width: 100%;
  min-height: 1px;
  padding: 0 8px;
  
  @media (min-width: break($s)) {
    margin-bottom: 0;
    width: 33.333%;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.three-up__item-inner {
  position: relative;
  display: block;
  overflow: hidden;
  padding-bottom: 120%;

  @media (min-width: break($s)) {
    padding-bottom: 144.7%;
  }
}

.three-up__block-title {
  position: absolute;
  z-index: 5;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 24px 26px;
  font-size: 26px;
  line-height: 1.17;
  font-weight: 700;
  text-decoration: none;
  text-transform: unset;

  @media (min-width: break($s)) {
    font-size: 30px;
  }

  > span {
    background: linear-gradient(to top, #FF705C 3px, transparent 0%) repeat left 100%;
    color: #fff;
  }

  .three-up__item:nth-child(-3n+2) & {
    > span {
      background: linear-gradient(to top, #6C82F2 3px, transparent 0%) repeat left 100%;
      color: #000;
    }
  }
}
