.product-page .product-template {
  background: #1C1F23;
  padding-top: 100px;

  @media (min-width: break($s)) {
    padding-top: 116px;
  }

  @media (min-width: break($m)) {
    padding-top: 150px;
  }


  .product_name {
    @include product-title;

    text-transform: initial;
    color: $c-white;
  }

  .product_gallery img {
    background-color: transparent;
  }

  .feature_divider {
    display: none;
  }

  .sale,
  .current_price,
  .modal_price {
    @include product-price;
    color: $c-white;
  }

  .was_price {
    @include product-price;
    color: $c-white;
    opacity: 0.45;
  }

  .savings {
    @include p-12;
  }

  .description {
    @include p-12;
    margin-bottom: 26px;
    color: $c-white;

    p {
      margin-bottom: 10px;
    }

    p:first-child {
      @include p-16;
      display: inline;
      background: linear-gradient(to top, #6C82F2 3px, transparent 0%) repeat left 100%;
    }

    p:not(:first-child) {
      @include p-12;
      color: $c-white;
      opacity: 0.6;
      margin-top: 17px;
    }
  }

  .swatch_options {
    margin-bottom: 0;
  }

  .swatch_options .swatch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .swatch .swatch-element {
    @include product-btn;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 55px;
    line-height: 55px;
    width: 100%;
    margin-bottom: 8px;
    color: $c-white;
    border: 1.4px solid rgba(255, 255, 255, 0.15);
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
  }

  .swatch label {
    color: $c-white;
    font-weight: bold;
  }

  .swatch_options input:checked+.swatch-element {
    box-shadow: 0 0 0 2px #6C82F2;
  }

  .purchase-details__buttons.purchase-details__spb--true .action_button.action_button--secondary {
    border-radius: 5px;
    border: 1px solid #FF9900;
    background-color: #FF9900;
    color: $c-white;
  }

  .purchase-details__buttons .action_button.action_button--secondary:hover {
    background-color: transparent;
    border: 1px solid #FF9900;
    color: #FF9900;
  }

  button.shopify-payment-button__button.shopify-payment-button__button--unbranded {
    display: none;
    border-radius: 5px;
    background-color: #FF9900;
    border: 1px solid #FF9900;
  }

  .product__images {
    @media (min-width: break($m)) {
      padding-right: 33px;
    }
  }

  .product-information {
    @media (min-width: break($m)) {
      padding-left: 33px;
    }
  }

  .gallery-thumbnails--left .product_gallery_nav {
    @media (min-width: break($m)) {
      width: 20%;
    }
  }

  .gallery-thumbnails--left .multi-image {
    @media (min-width: break($m)) {
      width: 70%;
    }
  }

  .slick-slider {
    @media (min-width: break($m)) {
      margin-bottom: 0;
    }
  }

  .slider-vertical .slick-prev:before, .slider-vertical .slick-next:before {
    display: none;
  }
  .slider-vertical .slick-prev,
  .slider-vertical .slick-next {
    @media (min-width: break($m)) {
      display: inline-block;
      width: 0;
      height: 0;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 10;
      cursor: pointer;
    }

    svg {
      @media (min-width: break($m)) {
        width: 32px;
        height: 32px;
      }
    }
  }
  .slider-vertical .slick-prev {
    @media (max-width: break($m)) {
      top: 35px;
      left: -10px;
    }

    @media (min-width: break($m)) {
      top: -40px;
      left: -32px;
    }

    svg {
      transform: rotate(-90deg);

      @media (min-width: break($m)) {
        transform: rotate(0);
      }
    }
  }
  .slider-vertical .slick-next {
    @media (max-width: break($m)) {
      right: -10px;
      top: 35px;
    }

    @media (min-width: break($m)) {
      left: -32px;
      bottom: -56px;
      top: auto;
    }

    svg {
      transform: rotate(90deg);

      @media (min-width: break($m)) {
        transform: rotate(180deg);
      }
    }
  }
  .slider-vertical .slick-prev.slick-disabled, .slider-vertical .slick-next.slick-disabled {
    @media (min-width: break($m)) {
      opacity: 0.1;
      cursor: default;
    }
  }
  .slider-vertical div {
    @media (min-width: break($m)) {
      height: 75px;
      background: transparent;
      color: #ffffff;
    }

    @media (min-width: break($l)) {
      height: 90px;
    }

    @media (min-width: break($xl)) {
      height: 119px;
    }
  }

  .flickity-prev-next-button {
    background-color: transparent;

    svg path {
      fill: white;
    }
  }
}
