.button {
  @include p2;

  position: relative;
  display: inline-block;
  text-align: center;

  &:disabled {
    opacity: 0.4;
    pointer-events: none;
  }
}

.button__el svg {
  display: none;
}

.button--primary,
.button--primary-book {
  height: 40px;
  min-width: 151px;
  border-radius: 5px;
  padding: 0 4ch;
  line-height: 44px;
  vertical-align: middle;
  font-family: $font-primary;
  font-size: 1.3rem; /* 13px */
  font-weight: bold;
  color: $c-white;
  transition: color $speed $ease;

  @media (min-width: break($xs)) {
    height: 49px;
    line-height: 49px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: $c-black;
    transition: background-color $speed $ease, transform $speed $ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    border-radius: 5px;
    border: solid 1px transparent;
    transition: border $speed $ease;

    @media (min-width: break($xs)) {
      top: -4px;
      left: -4px;
      width: calc(100% + 6px);
      height: calc(100% + 6px);
    }
  }

  .non-touch &:hover:not([disabled]):not([href=""]) {
    &::before {
      transform: scale(0.95);
    }
  }
}

.button--primary-book {
  height: 55px;
  line-height: 55px;
  width: 100%;

  .non-touch &:hover:not([disabled]):not([href=""]) {
    color: $c-black;

    &::before {
      background-color: $c-orange;
      transform: scale(1);
    }
  }
}

.button--secondary {
  font-family: $font-primary;
  font-size: 1.3rem; /* 13px */
  font-weight: bold;

  &::before {
    content: '';
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 100%;
    height: 1px;
    border-bottom: solid 1px currentColor;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -1;
    width: calc(100% + 18px);
    height: calc(100% + 18px);
    border-radius: 5px;
    border: solid 1px transparent;
    transition: border $speed $ease;
  }

  .non-touch &:hover:not([disabled]):not([href=""]) {
    &::before {
      animation-name: text-link-hover;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }
}

.button--full-width {
  width: 100%;
}

.skip_link {
  position: absolute;
  top: 23px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -100px);
  text-transform: uppercase;
  padding: 10px 30px;
  color: $c-white;
  background-color: $c-black;
  border: 3px solid $c-black;
  z-index: 998;

  &:focus {
    outline: 5px auto -webkit-focus-ring-color;
  }

  &:active,
  &:focus {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%);
    transition: all 0.3s ease;
  }
}

.skip_link--sidebar {
  top: 0;
  left: 0;
  transform: translate(-100%);

  &:active,
  &:focus {
    transform: translate(0);
  }
}

.button--header-search {
  width: auto;
  min-width: auto;
  margin: 0;
  padding: 0;

  @media (min-width: break($m)) {
    width: 109px;
    min-width: 109px;
    height: 46px;
    line-height: 46px;
    padding: 0 22px;
    color: $c-black;
    background: $c-orange;
  }

  &::before {
    background: transparent;

    @media (min-width: break($m)) {
      border-radius: 0 5px 5px 0;
      background: $c-orange;
    }
  }

  .button__el {
    @media (min-width: break($m)) {
      display: inline-flex;
    }
  }

  .button__text {
    display: none;

    @media (min-width: break($m)) {
      display: block;
    }
  }

  svg {
    display: block;
    width: 17px;
    color: $c-black;

    @media (min-width: break($m)) {
      margin-right: 6px;
    }
  }
}

.button--book-form {
  min-width: 100%;
  min-height: 55px;
  margin-bottom: 27px;

  .non-touch &:hover:not([disabled]):not([href=""]) {
    color: $c-black;

    &::before {
      transform: none;
      background-color: $c-orange;
    }
  }
}

.button--book-form:focus:not([disabled]) {
  color: $c-white;

  .user-is-tabbing & {
    &::before {
      transform: none;
      background-color: $c-orange;
    }
  }
}

.button--secondary:focus:not([disabled]),
.button--primary-book:focus:not([disabled]),
.button--primary:focus:not([disabled]) {
  outline: none;

  .user-is-tabbing & {
    &::after {
      border: $c-border;
    }
  }
}

.button--bottom-line {
  position: relative;

  &:after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    bottom: -2px;
    height: 1px;
    transition: width .3s cubic-bezier(0,.1,.125,.7);
    transition-delay: .1s;
    z-index: -1;
    width: 0;
    background: $c-white;
  }

  &:hover {
    color: $c-white !important;

    &:after{
      width: 100%;
      transition-delay: 0s;
      z-index: 1;
    }
  }
}

.button--border {
  min-width: 158px;
  height: 44px;
  line-height: 44px;
  border: $c-border;
  color: $c-white;
  background-color: transparent;
  transition: all $speed $ease;

  &:hover {
    background-color: $c-light-gray;
    color: $c-black;
  }
}
