.black { color: $c-black; }
.white { color: $c-white; }

.orange { color: $c-orange; }
.green { color: $c-green; }
.red { color: $c-red; }

/* Background Colors */
.bg-black { background-color: $c-black; }
.bg-white { background-color: $c-white; }

.bg-gray { background-color: $c-gray; }
.bg-light-gray { background-color: $c-light-gray; }
.bg-dark-gray { background-color: $c-dark-gray; }
.bg-yellow { background-color: $c-yellow; }

.bg-orange { background-color: $c-orange; }
.bg-green { background-color: $c-green; }
