/* Global */
@mixin p2 {
  font-family: $font-primary;
  font-size: 1.4rem;
  letter-spacing: 2px;
  font-weight: normal;
  font-style: normal;

  @media (min-width: break($l)) {
    font-size: 1.8rem;
  }
}

@mixin hero-title {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 45px;
  text-transform: none;

  @media (min-width: break($m)) {
    font-size: 50px;
    line-height: 73px;
  }
}

.hero-title {
  @include hero-title;
}

@mixin menu-item {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;

  @media (min-width: break($m)) {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
  }
}

@mixin product-title {
  @media (min-width: break($m)) {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 34px;
  }
}

@mixin product-price {
  @media (min-width: break($m)) {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
  }
}

@mixin product-btn {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
}

@mixin p-16 {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
}

@mixin p-12 {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 19px;
}
