$xxxs: 320px;
$xxs: 445px;
$xs: 620px;
$s: 768px;
$ms: 840px;
$m: 1000px;
$ml: 1160px;
$l: 1200px;
$xl: 1440px;
$xxl: 1600px;

$xxs-max: 444px;
$xs-max: 619px;
$s-max: 767px;
$m-max: 999px;
$l-max: 1199px;

// Default Theme
$font-primary: "Helvetica Neue LT Std", sans-serif;
$font-tertiary: "Quickpen", cursive;

// Primary colors
$c-black: #000;
$c-white: #fff;

$c-gray: #a8a6a4;
$c-light-gray: #f3f1ef;
$c-dark-gray: #424242;

$c-yellow: #e4d798;

$c-green: #00FA25;
$c-orange: #FF705C;
$c-red: red;

$c-border: 1px solid rgba($c-dark-gray, 1);
$c-border-white: 1px solid rgba($c-white, 1);
$c-border-red: 1px solid rgba($c-red, 1);

/* Transitions */
$duration: 0.25s;
$speed: 0.2s;
$ease: ease-in-out;
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);

$transition-default: $duration $ease;

// Layout
$edge-gutter: 20px;
$edge-gutter-s: 40px;
$edge-gutter-m: 80px;

/* Gutters */
$gutter-xxs: 20px;
$gutter-ms: 20px;
$gutter-s: 25px;
$gutter-m: 20px;
$gutter-l: 40px;
$gutter: 40px;
