.shopify-section-header-hidden {
  transform: none !important;
}

#shopify-section-announcement-bar {
  display: none !important;
}

#MainContent {
  padding-top: 64px;

  @media (min-width: break($s)) {
    padding-top: 100px;
  }

  .page--home & {
    @media (min-width: break($s)) {
      padding-top: 0;
    }
  }
}

#shopify-section-header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: transparent;
  z-index: 9;
}

.header-wrapper {
  @media (min-width: break($m)) {
    height: 100%;
    background:rgba(255,255,255, 0);
    border-bottom: none;
    transition: all ease-out .5s;
  }
}

header {
  @media (min-width: break($m)) {
    height: 100px;
  }

  .top-bar {
    @media (max-width: break($s)) {
      padding: 10px 0;
    }
  }

  .dropdown {
    background-color: $c-white;
    color: $c-black;
  }

  .menu a {
    color: $c-black;
  }

  .mobile_logo svg {
    @media (max-width: break($s)) {
      width: 40px;
      height: auto;
    }
  }

  .mobile_logo svg path {
    fill: $c-black;
  }

  #mobile_menu li {
    border-bottom: 1px solid $c-gray;

    &:first-child {
      border-top: none;
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.header {
  @media (min-width: break($m)) {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px 50px !important;
    background:rgba(255,255,255, 0);
    transition: all ease-out .5s;
  }

  @media (min-width: break($m)) {
    padding: 55px 62px 20px !important;
  }
}

.page--home {
  @media (min-width: break($m)) {
    background: $c-white;
  }

  .header__logo {
    display: none !important;
  }

  .header .menu {
    @media (min-width: break($s)) {
      li {
        padding-right: 20px;
      }

      a {
        padding: 0 3px;
        background-color: rgba(255, 255, 255, 0.7);
        line-height: 20px;
        color: #000;

        &.active {
          background-color: #000;
          color: #fff;
        }
      }
    }
  }

  .logo-position--center .nav {
    width: 100%;
  }

  .main-nav__wrapper, .main-nav__wrapper .main-nav {
    @media (min-width: break($m)) {
      max-width: 100%;
    }
  }
}

.main-nav__wrapper.sticky_nav {
  background-color: $c-white;
}

.sticky_nav--stick .header__logo {
  display: block !important;
}

.sticky_nav--stick .main-nav .header__logo svg {
  color: $c-black;
}

.sticky_nav--stick .nav a.mini_cart {
  color: $c-black !important;
}

.sticky_nav--stick .logo-position--center .nav {
  width: 40%;
}

.sticky_nav--stick .main-nav {
  @media (min-width: break($m)) {
    background-color: $c-white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}

.logo-position--center .nav {
  width: 40%;
}

.main-nav .header__logo img {
  @media (min-width: break($m)) {
    width: 64px;
    height: 55px;
  }
}

.main-nav .header__logo svg {
  width: 64px;
  height: 55px;
  color: $c-white;

  .collection &,
  .page-about-us & {
    color: $c-black;
  }
}

.header__heading {
  @media (min-width: break($m)) {
    display: none;
  }
}

.header:not(.header--middle-left) .header__inline-menu {
  @media (min-width: break($m)) {
    margin: 0 !important;
  }
}

.header .menu a {
  @include menu-item;
  color: $c-white;

  .collection &,
  .page-about-us & {
    color: $c-black;
  }
}

.header .cart_count,
.mini_cart, .nav a.mini_cart {
  @media (min-width: break($m)) {
    color: $c-white;
  }

  .collection &,
  .page-about-us & {
    color: $c-black;
  }
}

.main-nav__wrapper,
.main-nav__wrapper .main-nav {
  @media (min-width: break($m)) {
    width: 100%;
  }
}

.main-nav__wrapper, .main-nav__wrapper .main-nav {
  @media (min-width: break($m)) {
    max-width: 100%;
  }
}

.promo-banner--show .promo-banner {
  @media (min-width: break($m)) {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    height: auto;
  }
}

.promo-banner--show .sticky_nav--stick .promo-banner {
  @media (min-width: break($m)) {
    position: initial;
  }
}

.promo-banner {
  font-size: 14px;
}
