.how-to-earn {
  padding: 40px 0;

  @media (min-width: break($m)) {
    padding: 60px 0;
  }
}

.how-to-earn__container.container {
  width: 100%;
  max-width: 100%;
  padding: 0;
}

.how-to-earn__inner {
  display: block;

  @media (min-width: break($m)) {
    display: flex;
    align-items: stretch;
  }
}

.how-to-earn__image {
  padding-bottom: 30px;

  @media (min-width: break($m)) {
    width: 50%;
    padding-bottom: 0;
  }
}

.how-to-earn__image-wrapper {
  width: 100%;
  height: 100%;

  @media (min-width: break($l)) {
    min-height: 720px;
  }

  &:before {
    padding-bottom: calc(180/320 * 100%);
  }
}

.how-to-earn__title {
  margin: 0 0 30px;

  @media (min-width: break($m)) {
    margin: 30px 0;
  }

  @media (min-width: break($l)) {
    margin: 50px 0;
  }
}

.how-to-earn__blocks {
  width: calc(100% - 40px);
  margin: 0 auto;

  @media (min-width: break($m)) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0;
  }
}

.how-to-earn__list {
  flex-wrap: wrap;
  margin: 0 -10px;

  @media (min-width: break($l)) {
    margin: 0 -20px;
  }
}

.how-to-earn__item {
  width: calc(100% / 2 - 20px);
  margin-bottom: 20px;
  padding: 0 10px;

  @media (min-width: break($s)) {
    width: calc(100% / 4 - 20px);
  }

  @media (min-width: break($m)) {
    width: calc(100% / 2 - 20px);
    margin-bottom: 30px;
  }

  @media (min-width: break($l)) {
    width: calc(100% / 2 - 40px);
    padding: 0 20px;
  }
}

.how-to-earn__item-image-wrapper {
  width: 120px;
  height: 120px;
  margin: 0 auto 15px;

  @media (min-width: break($s)) {
    margin: 0 auto 20px;
  }

  @media (min-width: break($m)) {
    width: 150px;
    height: 150px;
  }
}

.how-to-earn__item-title {
  margin-bottom: 5px;

  @media (min-width: break($m)) {
    margin-bottom: 7px;
  }
}

.how-to-earn__item-content {
  margin-bottom: 0;
}
