.hero {
  margin-bottom: 40px;
  padding-top: 100px;

  @media (min-width: break($s)) {
    margin-bottom: 60px;
    padding-top: 0;
  }

  @media (min-width: break($xl)) {
    margin-bottom: 126px;
  }
}

.hero__inner {
  display: block;
}

.hero__banner-wrapper {
  margin: 0;

  @media (min-width: break($s)) {
    height: 400px;
  }

  @media (min-width: break($s)) {
    height: 600px;
  }

  @media (min-width: break($l)) {
    height: 798px;
  }

  .image__img {
    @media (min-width: break($s)) {
      object-position: bottom;
    }
  }
}

.hero__content {
  @media (min-width: break($s)) {
    position: absolute;
    top: 20%;
    left: 50px;
    width: auto;
    height: auto;
    z-index: 3;
  }

  @media (min-width: break($s)) {
    left: 62px;
  }

  @media (min-width: break($xl)) {
    left: 0;
  }
}

.hero__content-container {
  @media (min-width: break($s)) {
    width: 100%;
    max-width: 100%;
  }

  @media (min-width: break($xxl)) {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
  }
}

.hero__content-inner {
  @media (min-width: break($s)) {
    width: 260px;
  }

  @media (min-width: break($m)) {
    width: 400px;
  }

  @media (min-width: break($xl)) {
    width: 100%;
    padding: 0 74px;
  }
}

.hero__icon {
  position: absolute;
  top: -75%;
  left: 0;
  width: 90px;
  height: 77px;
  z-index: 2;

  @media (min-width: break($s)) {
    position: initial;
    width: 134px;
    height: 115px;
    margin-bottom: 15px;
  }

  @media (min-width: break($s)) {
    margin-bottom: 48px;
  }
}

.hero__title {
  margin: 0;
  padding-bottom: 10px;

  @media (min-width: break($s)) {
    padding-bottom: 15px;
  }

  @media (min-width: break($l)) {
    padding-bottom: 31px;
  }

  @media (min-width: break($xl)) {
    max-width: 460px;
  }
}

.hero__title span {
  position: relative;
  background: $c-black;
  color: $c-white;

  &::before {
    content: '';
    position: absolute;
    bottom: 50px;
    left: 0;
    height: 4px;
    width: 137px;
    background-color: $c-orange;

    @media (min-width: break($s)) {
      bottom: 47px;
      height: 4px;
      width: 120px;
    }

    @media (min-width: break($m)) {
      bottom: 74px;
      height: 6px;
      width: 210px;
    }
  }
}

.hero__sub-title {
  margin: 0;
  padding-bottom: 10px;
  text-transform: none;

  @media (min-width: break($s)) {
    padding-bottom: 15px;
  }

  @media (min-width: break($l)) {
    padding-bottom: 48px;
  }
}

.hero__sub-title span {
  background-color: $c-black;
  color: $c-white;
}

.hero__cta-button .btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 5px 15px;
  color: $c-white;
  background: #6C82F2;
  border-radius: 5px;
  transition: all $ease $speed;
  text-decoration: none;

  @media (min-width: break($s)) {
    width: 210px;
  }

  @media (min-width: break($s)) {
    width: 280px;
    height: 60px;
    line-height: 60px;
  }

  &:hover {
    background: rgba(108, 130, 242, 0.7);
  }
}

.hero__icon-wrapper {
  width: 90px;
  height: 77px;
  margin: 0 0 10px;

  @media (min-width: break($s)) {
    width: 134px;
    height: 115px;
  }
}

.hero__banner {
  display: none;

  @media (min-width: break($s)) {
    display: block;
  }
}

.hero__banner--mobile {
  display: block;
  margin-bottom: 20px;

  @media (min-width: break($s)) {
    display: none;
  }
}

.hero__camera {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 120px;
  height: auto;
  z-index: 3;

  @media (min-width: break($s)) {
    right: 20px;
    width: 300px;
  }

  @media (min-width: break($m)) {
    bottom: 0;
    right: 50px;
    width: 400px;
  }

  @media (min-width: break($l)) {
    right: 15%;
    width: 707px;
  }
}

.hero__camera-wrapper {
  margin: 0;
}

.hero__image-inner {
  position: relative;
}

.hero__arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  overflow: hidden;
  background-color: $c-black;
  z-index: 5;
  cursor: pointer;

  @media (min-width: break($s)) {
    bottom: -30px;
    width: 56px;
    height: 56px;
  }

  svg {
    width: 20px;
    height: auto;
    pointer-events: none;

    @media (min-width: break($s)) {
      width: 24px;
    }
  }
}
