{% include "two-up",
  layout: "default",
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "A Complete Picture",
    "max_blocks": 1,
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>A Complete Picture</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Say goodbye to expensive security alarms and overcomplicated cameras. It’s time for a camera system that lets you monitor any room in your house, office, or store with incredible ease.<br>The NOOK Cam is an all-purpose, motion detection camera that can help you keep the things that matter most to you safe. Quickly connect it to your WiFi and stream from your phone. But that’s just the start of NOOK Cam's amazing features.</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "border",
            "label": "Border",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "both",
                "label": "Both"
              },
              {
                "value": "none",
                "label": "None"
              }
            ],
            "default": "both"
          }
        ]
      }
    ]
  }
{% endschema %}
