{% include "two-up",
  layout: "default",
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "A Bright Idea",
    "max_blocks": 1,
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>A Bright Idea</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Say goodbye to energy-draining light bulbs and LED smart light systems that only function with expensive hubs and paywall apps. We wanted to make it easy to create beautiful atmospheres in your home and save energy while doing it. That’s why we created the NOOK Smart Light.</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "border",
            "label": "Border",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "both",
                "label": "Both"
              },
              {
                "value": "none",
                "label": "None"
              }
            ],
            "default": "both"
          }
        ]
      }
    ]
  }
{% endschema %}
