{% include "faqs",
  blocks: section.blocks,
  title: section.settings.title
%}

{% schema %}
  {
    "name": "FAQS",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "FAQS"
      }
    ],
    "blocks": [
      {
        "type": "faq",
        "name": "faq",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Answer"
          }
        ]
      }
    ],
    "presets": [
      {
      "name": "FAQS"
      }
    ]
  }
{% endschema %}
