{% comment %}
** Featured products - homepage partial **
- Draggable section
- Uses blocks
{% endcomment %}

{% if section.settings.wide_display == false %}
    <div class="container">
      <div class="sixteen columns">
  {% endif %}

{% if section.blocks.size > 0 %}
  <section class="collection-in-detail">
      <div class="clearfix frontpage_product_stagger--{{ section.settings.frontpage_product_stagger }}">
      {% for block in section.blocks %}
        {%- assign product = all_products[block.settings.featured_product] -%}

        {% render 'product__structured-data' %}

        {%- assign collection_handles = product.collections | map: 'handle' -%}
        {% if product.empty? %}
          {%- assign section_onboarding = true -%}
        {% else %}
          {%- assign section_onboarding = false -%}
        {% endif %}

        <div class="product-{{ product.id }} section clearfix product_section js-product_section"
             data-block-id="{{block.id}}"
             {{ block.shopify_attributes }}>

          <div class="product-images half">
            {% if section_onboarding %}
              {% capture i %}{% cycle "1", "2" %}{% endcapture %}
              {{ 'product-' | append: i | placeholder_svg_tag: 'placeholder-svg placeholder-svg--product' }}
            {% else %}
              {% render 'product-images',
                      product: product,
                      video_looping: section.settings.video_looping,
                      set_product_height: section.settings.set_product_height
              %}
            {% endif %}
          </div>

          <div class="product-details half">
            {% if section_onboarding %}
              {% if section.settings.display_vendor %}
                <p class="vendor">
                  <span class="vendor">Vendor name</span>
                </p>
              {% endif %}

              <h2 class="product_name">
                <a href="{{ product.url }}">{{ 'homepage.onboarding.product_title' | t }}</a>
              </h2>
              <div class="feature_divider"></div>
            {% else %}

              {% if settings.sale_banner_enabled and product.compare_at_price_max > product.price %}
                <div class="sale_banner_product">{{ 'collections.general.sale' | t }}</div>
              {% endif %}
              {% if collection_handles contains 'new' %}
                <div class="new_banner_product">{{ 'collections.general.new' | t }}</div>
              {% endif %}
              {% if collection_handles contains 'pre-order' %}
                <div class="preorder_banner_product">{{ 'collections.general.pre_order' | t }}</div>
              {% endif %}

              {% if section.settings.display_vendor %}
                <p class="vendor">
                  <span class="vendor">{{ product.vendor | link_to_vendor }}</span>
                </p>
              {% endif %}
              <h1 class="product_name">
                <a href="{{ product.url }}">{{ product.title }}</a>
              </h1>

              {% if section.settings.enable_shopify_product_badges %}
                <div class="shopify-reviews reviewsVisibility--{{settings.enable_shopify_review_comments}}">
                  {% render 'okendo-reviews-product-rating-summary', product: product %}
                </div>
              {% endif %}
              <div class="feature_divider"></div>

            {% endif %}

            {% if section_onboarding %}
              <p class="modal_price">
                <span class="current_price">
                  <span class="money">$49.00</span>
                </span>
              </p>
            {% else %}
              {% assign product_tags = product.tags | join: ' ' %}
              {% if product_tags contains 'meta-size-chart-' %}
                {% for tag in product.tags %}
                  {% if tag contains 'meta-size-chart-' %}
                    <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
                    {% render 'popup-size-chart', product_id: product.id %}
                  {% endif %}
                {% endfor %}
              {% elsif settings.size_chart != blank %}
                <a href="javascript:;" class="size_chart" data-fancybox data-src="#size-chart{{product.id}}" data-type="inline" data-no-instant>{{ 'products.product.size_chart' | t }} <span class="icon-right-arrow"></span></a>
              {% endif %}

              {% if collection_handles contains 'coming-soon' %}
                <p class="modal_price">{{ 'collections.general.coming_soon' | t }}</p>
              {% else %}
                {% assign variant = product.selected_or_first_available_variant %}
                <div class="modal_price">
                  {% unless product.available == false and settings.display_price == false %}
                    <div class="price__container price__container--display-price-{{ settings.display_price }} {% if settings.display_price %}has-margin-right{% endif %}">
                      <span content="{{ variant.price | money_without_currency }}" class="{% if variant.compare_at_price > variant.price %}sale{% endif %}">
                        <span class="current_price">
                          {% if variant.price > 0 %}
                            <span class="money">{% render 'price-element', price: variant.price %}</span>
                          {% else %}
                            {{ settings.free_price_text }}
                          {% endif %}
                        </span>
                      </span>
                      <span class="was_price">
                        {% if variant.price < variant.compare_at_price %}
                          <span class="money">{% render 'price-element', price: variant.compare_at_price %}</span>
                        {% endif %}
                      </span>
                      {% if section.settings.display_savings %}
                        <span class="sale savings">
                          {% if variant.price < variant.compare_at_price %}
                            {{ 'products.product.savings' | t }} {{ variant.compare_at_price | minus: variant.price | times: 100 | divided_by: variant.compare_at_price }}% (<span class="money">{% assign compare_at = variant.compare_at_price | minus: variant.price %}{% render 'price-element', price: compare_at %}</span>)
                          {% endif %}
                        </span>
                      {% endif %}
                    </div>
                  {% endunless %}
                  <div class="sold-out__container">
                    <span class="sold_out">{% if variant.available == false %}{{ settings.sold_out_text }}{% endif %}</span>
                  </div>
                </div>
              {% endif %}
            {% endif %}

            {% if section.settings.product_description_position == "top" %}
              {% if section_onboarding and section.settings.frontpage_display_description %}
                <div class="description">
                  <p>
                    {{ 'homepage.onboarding.product_description' | t }}
                  </p>
                </div>
              {% elsif section.settings.frontpage_display_description and product.description != blank %}
                <div class="description">
                  {{ product.description | split: '<!-- split -->' | first }}
                </div>

              {% endif %}
            {% endif %}

            {% if section_onboarding %}
              <form>
                <button type="submit" name="add" class="action_button add_to_cart" data-label={{ add_to_cart_label | json }}><span class="text">{{ 'products.product.add_to_cart' | t }}</span></button>
              </form>
            {% else %}
              {% unless collection_handles contains 'coming-soon' %}
                <div class="js-product_section product_section">
                  {% render 'product-form',
                          product: product,
                          context: 'product',
                          collection_handles: collection_handles
                  %}
                  {% render 'product-notify-me', product: product %}
                </div>
              {% endunless %}
            {% endif %}

            {% if section.settings.product_description_position == "bottom" %}
              {% if section_onboarding and section.settings.frontpage_display_description %}
                <div class="description bottom">
                  <p>
                    {{ 'homepage.onboarding.product_description' | t }}
                  </p>
                </div>
              {% elsif section.settings.frontpage_display_description and product.description != blank %}
                <div class="description bottom">
                  {{ product.description | split: '<!-- split -->' | first }}
                </div>

              {% endif %}
            {% endif %}
          </div>
        </div>
        {% if settings.size_chart != blank %}
          {% render 'popup-size-chart' %}
        {% endif %}
      {% endfor %}
    </div>
  </section>
{% endif %}

{% if section.settings.wide_display == false %}
    </div>
  </div>
{% endif %}

{% if section.settings.set_product_height %}
  {% style %}
    .gallery-wrap model-viewer {
      min-height: {{ section.settings.product_height }}px;
    }

    .gallery-wrap .product_gallery img,
    .gallery-wrap .product_gallery .plyr--html5 video,
    .gallery-wrap .product_gallery .plyr--youtube {
      max-height: {{ section.settings.product_height }}px;
    }
  {% endstyle %}
{% endif %}

{% comment %} Shopify-XR {% endcomment %}
{% if product.media %}
<script>
  window.ShopifyXR=window.ShopifyXR||function(){(ShopifyXR.q=ShopifyXR.q||[]).push(arguments)}
    {% assign models = product.media | where: 'media_type', 'model' | json %}
    ShopifyXR('addModels', {{ models }});
</script>
{% endif %}

<script defer src="https://cdn.shopify.com/shopifycloud/shopify-xr-js/assets/v1.0/shopify-xr.en.js"></script>
<script defer src="https://cdn.shopify.com/shopifycloud/model-viewer-ui/assets/v1.0/model-viewer-ui.en.js"></script>

{% schema %}
{
  "name": "Featured products",
  "class": "featured-products-section",
  "max_blocks": 12,
  "settings": [
    {
      "type": "checkbox",
      "id": "wide_display",
      "label": "Wide display",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "frontpage_product_stagger",
      "label": "Stagger products left and right",
      "default": true
    },
    {
      "type": "header",
      "content": "Product Gallery"
    },
    {
      "type": "checkbox",
      "id": "product_thumbs",
      "label": "Show thumbnails",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "gallery_arrows",
      "label": "Show arrows",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_product_lightbox",
      "label": "Enable lightbox",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "activate_zoom",
      "label": "Magnify product images on hover",
      "default": false
    },
    {
      "type": "range",
      "id": "slideshow_speed",
      "label": "Gallery speed",
      "min": 0,
      "max": 6,
      "unit": "sec",
      "default": 0,
      "info": "Set to 0 to disable autoplay."
    },
    {
      "type": "select",
      "id": "slideshow_animation",
      "label": "Transition",
      "default": "slide",
      "options": [
        {
          "value": "slide",
          "label": "Slide"
        },
        {
          "value": "fade",
          "label": "Fade"
        }
      ]
    },
    {
      "type": "select",
      "id": "thumbnail_position",
      "label": "Thumbnails",
      "default": "bottom",
      "options": [
        {
          "value": "bottom",
          "label": "Bottom"
        },
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "enable_thumbnail_slider",
      "label": "Enable thumbnail slider",
      "default": true
    },
    {
      "type": "header",
      "content": "Product information"
    },
    {
      "type": "checkbox",
      "id": "display_vendor",
      "label": "Show vendor",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "frontpage_display_description",
      "label": "Show product description",
      "default": true
    },
    {
      "type": "radio",
      "id": "product_description_position",
      "label": "Description position",
      "options": [
        {
          "value": "top",
          "label": "Above product form"
        },
        {
          "value": "bottom",
          "label": "Below product form"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "display_savings",
      "label": "Show price savings",
      "default": true
    },
    {
      "type": "header",
      "content": "Product reviews"
    },
    {
      "type": "paragraph",
      "content": "Reviews app must be enabled. [Learn more](https://help.outofthesandbox.com/hc/en-us/articles/360008549274#section2)"
    },
    {
      "type": "checkbox",
      "id": "enable_shopify_product_badges",
      "label": "Display star rating on product",
      "default": false
    },
    {
      "type": "header",
      "content": "Dynamic checkout button"
    },
    {
      "type": "checkbox",
      "id": "show_payment_button",
      "label": "Show dynamic checkout button",
      "default": true,
      "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)"
    },
    {
      "type": "header",
      "content": "Media",
      "info": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
    },
    {
      "type": "checkbox",
      "id": "set_product_height",
      "label": "Set height of product media",
      "default": false
    },
    {
      "type": "range",
      "id": "product_height",
      "label": "Product media height",
      "min": 200,
      "max": 800,
      "step": 10,
      "default": 500,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "video_looping",
      "label": "Enable video looping",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "product",
      "name": "Product",
      "settings": [
        {
          "type": "product",
          "id": "featured_product",
          "label": "Product"
        }
      ]
    }
  ],
  "presets": [{
    "name": "Featured products",
    "category": "Product",
    "settings": {
    },
    "blocks": [
      {
        "type": "product"
      },
      {
        "type": "product"
      }
    ]
  }]
}
{% endschema %}
