{% include "full-width-image",
  image: section.settings.image,
%}

{% schema %}
  {
    "name": "Full Width Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      }
    ]
  }
{% endschema %}
