{% include "full-width-image",
  class: 'full-width-image--pdp',
  image: section.settings.image,
  title: section.settings.title,
  text: section.settings.text,
  content_alignment: section.settings.content_alignment,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Full Width Image",
    "settings": [
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title",
        "default": "<p><strong>Control From<br>Anywhere in the World</strong></p>"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "With NOOK Smart Light’s WiFi capability, you can turn lights on in any room, no matter where you are. Just connect via phone app!"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
