{% include "full-width-image",
  class: 'full-width-image--pdp',
  image: section.settings.image,
  title: section.settings.title,
  text: section.settings.text,
  content_alignment: section.settings.content_alignment,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Full Width Image",
    "settings": [
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title",
        "default": "<p><strong>Save Energy with <br>a Longer Lasting Bulb</strong></p>"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "NOOK Smart Lights Save 80% Energy of a Regular Light Bulb and Last Up to 20,000 Hours."
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ]
  }
{% endschema %}
