{% comment %}
** Gallery - homepage partial **
- Draggable section
- Uses blocks

{% endcomment %}

{% if section.settings.wide_display == false %} 
<div class="container">  
  <div class="sixteen columns">  
{% endif %}
 {% if section.settings.title != blank %}
    <h2 class="title center">{{ section.settings.title }}</h2>
    <div class="feature_divider"></div>
  {% endif %}
<div  id="gallery_section-{{section.id}}"
      class=" gallery-section
              {% if section.settings.wide_display %}
                gallery-full
              {% endif %}">

  {% if section.blocks.size > 0 %}
    {% for block in section.blocks %}
        <div class="gallery-image-wrapper {% if forloop.index == 1 %}first{% endif %}">
            <div class="gallery-cell item-1">
                <img src="{{ block.settings.image_1 | img_url: 'master' }}">
            </div>
            <div class="gallery-cell item-2">
                <img src="{{ block.settings.image_2 | img_url: 'master' }}">
            </div>
            <div class="gallery-cell item-3">
                <img src="{{ block.settings.image_3 | img_url: 'master' }}">
            </div>
        </div>
    {% endfor %}
  {% endif %}
</div>

{% if section.settings.wide_display == false %} 
  </div>  
</div>  
{% endif %}


{% schema %}
  {
    "name": "Gallery Custom",
    "class": "image-gallery-section gallery-custom-section",
    "max_blocks": 24,
    "settings": [
      {
        "type": "checkbox",
        "id": "wide_display",
        "label": "Wide display"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Gallery"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image_1",
            "label": "Image 1"
          },
          {
            "type": "image_picker",
            "id": "image_2",
            "label": "Image 2"
          },
          {
            "type": "image_picker",
            "id": "image_3",
            "label": "Image 3"
          }
        ]
      }
    ],
     "presets": [
      {
        "name": "Gallery Custom",
        "category": "Image",
        "blocks": [
          {
            "type": "image"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}
