{% comment %}
** Header - default view **
- Static section
{% endcomment %}

{% comment %} Structured data {% endcomment %}

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Organization",
    "name": "{{ shop.name }}",
    {% if section.settings.logo %}
      {% assign image_size = section.settings.logo.width | append:'x' %}
      "logo": "https:{{ section.settings.logo | img_url: image_size }}",
    {% endif %}
    "sameAs": [
      "{{ settings.twitter_link }}",
      "{{ settings.facebook_link }}",
      "{{ settings.pinterest_link }}",
      "{{ settings.instagram_link }}",
      "{{ settings.tumblr_link }}",
      "{{ settings.snapchat_link }}",
      "{{ settings.youtube_link }}",
      "{{ settings.vimeo_link }}"
    ],
    "url": "{{ shop.url }}{{ page.url }}"
  }
</script>

{% if template.name == 'index' %}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "name": "{{ shop.name }}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ routes.search_url }}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      },
      "url": "{{ shop.url }}{{ page.url }}"
    }
  </script>
{% endif %}

{%- assign locale_selector = false -%}
{%- assign currency_selector = false -%}

{%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
  {%- assign currency_selector = true -%}
{%- endif -%}

{%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
  {%- assign locale_selector = true -%}
{%- endif -%}

{% comment %}Mobile navigation{% endcomment %}
<header id="header" class="mobile_nav-fixed--{{ section.settings.fixed_header }}">
  {% if section.settings.show_announcement_bar %}
    {% if section.settings.promo_text != blank %}
      <div class="promo-banner">
        <div class="promo-banner__content">
          {{ section.settings.promo_text }}<span class="current_date"></span>
        </div>
        <div class="promo-banner__close"></div>
      </div>
    {% endif %}
  {% endif %}
  <div class="top-bar">
    <a class="mobile_nav dropdown_link" data-dropdown-rel="mobile_menu" data-no-instant="true">
      <div>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      {% comment %} <span class="menu_title">{{ 'layout.general.menu' | t }}</span> {% endcomment %}
    </a>
    <a href="{{ routes.root_url }}" title="{{ shop.name | escape }}" class="mobile_logo logo">
      <svg viewBox="0 0 64 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.745 9.25l-6.485 1.844a.922.922 0 00-.672.886v5.529c0 4.158 1.94 6.684 3.566 8.071 1.755 1.497 3.517 2.009 3.591 2.03a.929.929 0 00.51 0c.074-.021 1.836-.534 3.59-2.03 1.627-1.387 3.567-3.913 3.567-8.071v-5.53a.922.922 0 00-.672-.885L32.254 9.25a.932.932 0 00-.508 0zm5.814 3.425v4.834c0 2.748-.964 4.977-2.864 6.625a9.166 9.166 0 01-2.697 1.616 9.057 9.057 0 01-2.638-1.569c-1.937-1.651-2.919-3.896-2.919-6.672v-4.834L32 11.095l5.559 1.58zm-8.338 2.99a2.77 2.77 0 001.852 2.607v4.766c0 .509.415.921.927.921a.924.924 0 00.926-.921v-4.766a2.77 2.77 0 001.853-2.606A2.775 2.775 0 0032 12.9a2.775 2.775 0 00-2.78 2.765zm3.705 0a.925.925 0 01-.926.922.925.925 0 01-.927-.921c0-.508.416-.922.927-.922.51 0 .926.414.926.922zm14.516-4.36L32.556.184a.93.93 0 00-1.112 0l-14.886 11.12a.918.918 0 00-.184 1.29.93.93 0 001.297.183l.432-.323v18.078c0 .508.415.921.926.921h25.942a.924.924 0 00.926-.922V12.455l.432.323a.93.93 0 001.297-.184.918.918 0 00-.184-1.29zM44.044 29.61H19.956v-18.54L32 2.074l12.044 8.997v18.54zM10.957 38.943v10.395L0 38.977V55h2.385V44.516l10.957 10.35V38.943h-2.385zM22.545 41.315c-1.568 0-2.91.552-4.028 1.656-1.11 1.112-1.665 2.447-1.665 4.006 0 1.552.555 2.883 1.665 3.995 1.118 1.104 2.46 1.656 4.028 1.656 1.56 0 2.898-.552 4.016-1.656 1.11-1.112 1.665-2.443 1.665-3.995 0-1.559-.555-2.894-1.665-4.006-1.118-1.104-2.456-1.656-4.016-1.656zm0 13.685c-2.228 0-4.133-.783-5.715-2.35-1.575-1.574-2.363-3.465-2.363-5.673 0-2.215.788-4.11 2.363-5.684 1.582-1.567 3.487-2.35 5.715-2.35 2.22 0 4.12.783 5.703 2.35 1.575 1.574 2.363 3.469 2.363 5.684 0 2.208-.788 4.1-2.363 5.673-1.582 1.567-3.483 2.35-5.703 2.35zM39.847 41.315c-1.568 0-2.91.552-4.028 1.656-1.11 1.112-1.665 2.447-1.665 4.006 0 1.552.555 2.883 1.665 3.995 1.118 1.104 2.46 1.656 4.028 1.656 1.56 0 2.898-.552 4.016-1.656 1.11-1.112 1.665-2.443 1.665-3.995 0-1.559-.555-2.894-1.665-4.006-1.118-1.104-2.456-1.656-4.016-1.656zm0 13.685c-2.228 0-4.133-.783-5.715-2.35-1.575-1.574-2.363-3.465-2.363-5.673 0-2.215.788-4.11 2.363-5.684 1.582-1.567 3.487-2.35 5.715-2.35 2.22 0 4.12.783 5.703 2.35 1.575 1.574 2.363 3.469 2.363 5.684 0 2.208-.788 4.1-2.363 5.673-1.582 1.567-3.483 2.35-5.703 2.35zM60.513 38.943l-9.045 8.46v-8.46h-2.385V55h2.385v-4.33l3.172-2.965L60.48 55h3.049l-7.144-8.93L64 38.944h-3.487z" fill="#fff"/></svg>
    </a>
    <div class="top-bar--right">
      {% if section.settings.search_enabled %}
        <a href="{{ routes.search_url }}" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
      {% endif %}
      {% if section.settings.show_cart %}
        <div class="cart-container">
          <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" title="{{ 'layout.general.cart' | t | escape }}" data-no-instant> <span class="cart_count">{{ cart.item_count }}</span></a>
        </div>
      {% endif %}
    </div>

  </div>
  {% if section.settings.search_enabled %}
    <div class="dropdown_container center" data-dropdown="search">
      <div class="dropdown">
        <form action="{{ routes.search_url }}" class="header_search_form">
          {% if settings.search_option != 'everything' %}
            <input type="hidden" name="type" value="product" />
          {% endif %}
          <span class="icon-search search-submit"></span>
          <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
        </form>
      </div>
    </div>
  {% endif %}
  <div class="dropdown_container" data-dropdown="mobile_menu">
    <div class="dropdown">
      <ul class="menu" id="mobile_menu">
        {% render 'mobile-menu', menu: section.settings.main_linklist %}
        {% render 'mobile-menu', menu: section.settings.main_linklist2 %}
        {% render 'mobile-menu', menu: section.settings.top_bar_menu, context: 'top_bar_menu' %}
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}

        {% if shop.customer_accounts_enabled %}
          {% if customer %}
            <li>
              <a href="{{ routes.account_url }}" data-no-instant>{{ customer.name }}</a>
            </li>
            <li data-no-instant>
              <a href="{{ routes.account_logout_url }}" id="customer_logout_link">{{ 'layout.customer.log_out' | t }}</a>
            </li>
          {% else %}
            <li data-no-instant>
              <a href="{{ routes.account_login_url }}" id="customer_login_link">{{ 'layout.customer.log_in' | t }}</a>
            </li>
          {% endif %}
        {% endif %}

        {% if locale_selector or currency_selector or settings.show_multiple_currencies == true %}
          {% render 'localization-switcher-mobile',
                  additional_classes: 'mobile-menu__disclosure',
                  currency_selector: currency_selector,
                  locale_selector: locale_selector,
                  show_currency: section.settings.show_currency_selector
          %}
        {% endif %}
      </ul>
    </div>
  </div>
</header>

{% if template contains "index" %}
  {% assign feature_image = true %}
{% elsif template contains "collection" %}
  {% assign feature_image = true %}
{% elsif template contains "blog" %}
  {% assign feature_image = true %}
{% elsif template contains "article" %}
  {% assign feature_image = true %}
{% elsif template contains "contact" %}
  {% assign feature_image = true %}
{% elsif template contains "product" %}
  {% assign feature_image = true %}
{% elsif template contains "gallery" %}
  {% assign feature_image = true %}
{% elsif template contains "banner" %}
  {% assign feature_image = true %}
{% elsif template contains "details" %}
  {% assign feature_image = true %}
{% elsif template contains "faq" %}
  {% assign feature_image = true %}
{% elsif template contains "search" %}
  {% assign feature_image = true %}
{% elsif template contains "cart" %}
  {% assign feature_image = true %}
{% else %}
  {% assign feature_image = false %}
{% endif %}

{% comment %}Main navigation{% endcomment %}
<header class="{% if feature_image %}feature_image{% endif %} {% if section.settings.logo_home != nil %}secondary_logo--true{% endif %} search-enabled--{{ section.settings.search_enabled }}">
  <div class="header {% if feature_image and settings.header_background == false %}is-absolute {% endif %} header-fixed--{{ section.settings.fixed_header }} {% if settings.header_background %}header-background--solid{% endif %}">
    {% comment %} <div class="top-bar">
      {% if section.settings.social_icons_header %}
        {% render 'social-icons' %}
      {% endif %}
      <ul class="menu">
        {% if section.settings.phone_number != blank %}
          <li><a href="tel:{{ section.settings.phone_number | replace: ' ', '' | replace: '+', '' | replace: '-', '' }}">{{ section.settings.phone_number }}</a></li>
        {% endif %}
        {% if section.settings.top_bar_menu != blank %}
          {% for link in linklists[section.settings.top_bar_menu].links %}
            <li><a href="{{ link.url }}">{{ link.title }}</a></li>
          {% endfor %}
        {% endif %}
      </ul>

      <div class="top-bar--right-menu">
        <ul class="menu">

          {% if locale_selector or currency_selector or settings.show_multiple_currencies == true %}
            <li class="localization-wrap">
              {% render 'localization-switcher',
                      additional_classes: 'header-menu__disclosure',
                      id: 'header__selector-form',
                      currency_selector: currency_selector,
                      locale_selector: locale_selector,
                      show_currency: section.settings.show_currency_selector
              %}
            </li>
          {% endif %}

          {% if shop.customer_accounts_enabled %}
            <li>
              <a href="{{ routes.account_url }}" class="icon-user" title="{{ 'layout.customer.my_account' | t }} {% if customer %}({{ customer.email }}){% endif %}"> <span>{% if customer %}{{ 'layout.customer.my_account' | t }}{% else %}{{ 'layout.customer.log_in' | t }}{% endif %}</span></a>
            </li>
          {% endif %}
        </ul>

        {% if section.settings.show_cart %}
          <div class="cart-container">
            <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
              <span class="cart_count">{{ cart.item_count }}</span>
            </a>
            {% unless settings.cart_action == 'ajax' and template contains 'cart' %}
              <div class="tos_warning cart_content animated fadeIn">
                <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
                  <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
                </div>
                <form action="{{ routes.cart_url }}"
                      method="post"
                      class="{% if cart.item_count == 0 %}hidden{% endif %}"
                      data-total-discount="{{ cart.total_discount }}"
                      data-money-format="{{ shop.money_format | strip_html }}"
                      data-shop-currency="{{ shop.currency }}"
                      data-shop-name="{{ shop.name | escape }}"
                      data-cart-form="mini-cart">
                  <a class="cart_content__continue-shopping secondary_button">
                    {{ 'cart.general.continue_shopping_link_html' | t }}
                  </a>
                  <ul class="cart_items js-cart_items">
                    {% assign total_saving = 0 %}
                    {% for item in cart.items %}
                      {% if item.variant.compare_at_price > item.variant.price %}
                        {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                        {% assign total_saving = saving | plus: total_saving %}
                      {% endif %}

                      <li class="mini-cart__item" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">


                        <a href="{{ item.url }}">
                          {% if item.image %}
                            <div class="cart_image mini-cart__item-image">
                              <img src="{{ item.image | img_url: '320x' }}" alt="{{ item.title | escape }}" class="lazyload" />
                            </div>
                          {% endif %}
                        </a>

                        <div class="mini-cart__item--content">
                          <div class="mini-cart__item__title">
                            <div class="item_title">
                              <a href="{{ item.url }}">
                                {{ item.product.title }}
                                {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                                  -
                                  {% for option in item.product.options %}
                                    {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                  {% endfor %}
                                {% endunless %}
                                {% if item.properties %}
                                  {% for p in item.properties %}
                                    {% if p.last != blank %}
                                      <div class="line-item">
                                        {{ p.first }}: {{ p.last }}
                                      </div>
                                    {% endif %}
                                  {% endfor %}
                                {% endif %}
                              </a>
                            </div>
                          </div>

                          <strong class="left price">
                            {% if item.price > 0 %}
                              <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                                {% render 'price-element', price: item.final_price %}
                              </span>
                              {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                                <span class="money was_price">
                                  {% render 'price-element', price: item.variant.compare_at_price %}
                                </span>
                              {% endif %}
                            {% else %}
                                {{ settings.free_price_text }}
                            {% endif %}
                          </strong>

                          {% if item.line_level_discount_allocations.size > 0 %}
                            {% for discount_allocation in item.line_level_discount_allocations %}
                              <p class="notification-discount meta">
                                {{ discount_allocation.discount_application.title }}
                              </p>
                            {% endfor %}
                          {% endif %}

                          <div class="left product-quantity-box">
                            <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                            <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-cart-quantity-input="mini-cart" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %}/>
                            <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                          </div>

                        </div>

                        <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="mini-cart"><span class="remove-icon"></span></a>

                      </li>
                    {% endfor %}
                  </ul>

                  <ul>

                    <li class="cart_discounts js-cart_discounts sale">
                      {% if cart.cart_level_discount_applications != blank %}
                        {% for discount_application in cart.cart_level_discount_applications %}
                          <span class="cart_discounts--title">{{ discount_application.title }}</span>
                          <span class="cart_discounts--price">
                            -<span class="money">{% render 'price-element', price: discount_application.total_allocated_amount %}</span>
                          </span>
                        {% endfor %}
                      {% endif %}
                    </li>

                    <li class="cart_subtotal js-cart_subtotal">
                      <span class="right">
                        <span class="money">{% render 'price-element', price: cart.total_price %}</span>
                      </span>
                      <span>{{ 'layout.general.subtotal' | t }}</span>
                    </li>

                    <li class="cart_savings sale js-cart_savings">
                      {% if settings.display_savings and total_saving > 0 or settings.display_savings and cart.total_discount > 0 %}
                        <span class="right">
                          <span class="money">{% assign total_savings = total_saving | plus: cart.total_discount %}{% render 'price-element', price: total_savings %}</span>
                        </span>
                        <span>{{ 'layout.general.savings' | t }}</span>
                      {% endif %}
                    </li>

                    <li>
                      {% if settings.display_special_instructions and settings.go_to_checkout %}
                        <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
                      {% endif %}

                      {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                        <p class="tos">
                          <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                            <label class="tos_label">
                              {{ 'cart.general.agree_to_terms_html' | t }}
                            </label>
                            {% if settings.tos_page != blank %}
                              <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                            {% endif %}
                        </p>
                      {% endif %}

                      {% if settings.cart_message != blank %}
                        <div class="cart_text">
                          {{ settings.cart_message }}
                        </div>
                      {% endif %}

                      {% if settings.go_to_checkout %}
                        <button type="submit" name="checkout" class="action_button add_to_cart">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.checkout' | t }}</button>
                      {% else %}
                        <button type="submit" class="action_button add_to_cart">{% if settings.show_lock_icon and settings.go_to_checkout %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.go_to_cart' | t }} </button>
                      {% endif %}
                    </li>
                  </ul>
                </form>
              </div>
            {% endunless %}
          </div>
        {% endif %}
      </div>

    </div> {% endcomment %}

    <div class="main-nav__wrapper">
      {% if section.settings.show_announcement_bar %}
        {% if section.settings.promo_text != blank %}
          <div class="promo-banner">
            <div class="promo-banner__content">
              {{ section.settings.promo_text }}<span class="current_date"></span>
            </div>
            <div class="promo-banner__close"></div>
          </div>
        {% endif %}
      {% endif %}
      <div class="main-nav menu-position--{{ section.settings.menu_position }} logo-alignment--{{ section.settings.logo_alignment }} logo-position--{{ section.settings.logo_position }} search-enabled--{{ section.settings.search_enabled }}" {% if section.settings.dropdown_click == true %}data-show-dropdown-on-click{% endif %}>
        {% capture logo %}
          <div class="header__logo {% if section.settings.logo_home == blank and section.settings.logo == blank %}logo--text{% else %}logo--image{% endif %}">
            <a href="{{ routes.root_url }}" title="{{ shop.name }}">
              {% if section.settings.logo_home != nil %}
                <img src="{{ section.settings.logo_home | img_url: '410x' }}" class="secondary_logo" alt="{{ shop.name | escape }}" />
              {% endif %}
              {% if section.settings.logo != nil %}
                <img src="{{ section.settings.logo | img_url: '410x' }}" class="primary_logo lazyload" alt="{{ shop.name | escape }}" />
              {% else %}
                <svg viewBox="0 0 64 55" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M31.745 9.25l-6.485 1.844a.922.922 0 00-.672.886v5.529c0 4.158 1.94 6.684 3.566 8.071 1.755 1.497 3.517 2.009 3.591 2.03a.929.929 0 00.51 0c.074-.021 1.836-.534 3.59-2.03 1.627-1.387 3.567-3.913 3.567-8.071v-5.53a.922.922 0 00-.672-.885L32.254 9.25a.932.932 0 00-.508 0zm5.814 3.425v4.834c0 2.748-.964 4.977-2.864 6.625a9.166 9.166 0 01-2.697 1.616 9.057 9.057 0 01-2.638-1.569c-1.937-1.651-2.919-3.896-2.919-6.672v-4.834L32 11.095l5.559 1.58zm-8.338 2.99a2.77 2.77 0 001.852 2.607v4.766c0 .509.415.921.927.921a.924.924 0 00.926-.921v-4.766a2.77 2.77 0 001.853-2.606A2.775 2.775 0 0032 12.9a2.775 2.775 0 00-2.78 2.765zm3.705 0a.925.925 0 01-.926.922.925.925 0 01-.927-.921c0-.508.416-.922.927-.922.51 0 .926.414.926.922zm14.516-4.36L32.556.184a.93.93 0 00-1.112 0l-14.886 11.12a.918.918 0 00-.184 1.29.93.93 0 001.297.183l.432-.323v18.078c0 .508.415.921.926.921h25.942a.924.924 0 00.926-.922V12.455l.432.323a.93.93 0 001.297-.184.918.918 0 00-.184-1.29zM44.044 29.61H19.956v-18.54L32 2.074l12.044 8.997v18.54zM10.957 38.943v10.395L0 38.977V55h2.385V44.516l10.957 10.35V38.943h-2.385zM22.545 41.315c-1.568 0-2.91.552-4.028 1.656-1.11 1.112-1.665 2.447-1.665 4.006 0 1.552.555 2.883 1.665 3.995 1.118 1.104 2.46 1.656 4.028 1.656 1.56 0 2.898-.552 4.016-1.656 1.11-1.112 1.665-2.443 1.665-3.995 0-1.559-.555-2.894-1.665-4.006-1.118-1.104-2.456-1.656-4.016-1.656zm0 13.685c-2.228 0-4.133-.783-5.715-2.35-1.575-1.574-2.363-3.465-2.363-5.673 0-2.215.788-4.11 2.363-5.684 1.582-1.567 3.487-2.35 5.715-2.35 2.22 0 4.12.783 5.703 2.35 1.575 1.574 2.363 3.469 2.363 5.684 0 2.208-.788 4.1-2.363 5.673-1.582 1.567-3.483 2.35-5.703 2.35zM39.847 41.315c-1.568 0-2.91.552-4.028 1.656-1.11 1.112-1.665 2.447-1.665 4.006 0 1.552.555 2.883 1.665 3.995 1.118 1.104 2.46 1.656 4.028 1.656 1.56 0 2.898-.552 4.016-1.656 1.11-1.112 1.665-2.443 1.665-3.995 0-1.559-.555-2.894-1.665-4.006-1.118-1.104-2.456-1.656-4.016-1.656zm0 13.685c-2.228 0-4.133-.783-5.715-2.35-1.575-1.574-2.363-3.465-2.363-5.673 0-2.215.788-4.11 2.363-5.684 1.582-1.567 3.487-2.35 5.715-2.35 2.22 0 4.12.783 5.703 2.35 1.575 1.574 2.363 3.469 2.363 5.684 0 2.208-.788 4.1-2.363 5.673-1.582 1.567-3.483 2.35-5.703 2.35zM60.513 38.943l-9.045 8.46v-8.46h-2.385V55h2.385v-4.33l3.172-2.965L60.48 55h3.049l-7.144-8.93L64 38.944h-3.487z" fill="currentColor"/></svg>
              {% endif %}
            </a>
          </div>
        {% endcapture %}

        {% assign vertical_menu = section.settings.vertical_menu %}

        {% capture menu_left %}
          {% if vertical_menu %}
            {% render 'vertical-menu', linklist: section.settings.main_linklist %}
          {% else %}
            {% render 'menu', linklist: section.settings.main_linklist %}
          {% endif %}
        {% endcapture %}

        {% capture menu_right %}
          {% if vertical_menu %}
            {% render 'vertical-menu', linklist: section.settings.main_linklist2 %}
          {% else %}
            {% render 'menu', linklist: section.settings.main_linklist2 %}
          {% endif %}
        {% endcapture %}

        {% capture search %}
          {% if section.settings.search_enabled %}
            <div class="search-container" data-autocomplete-{{ settings.enable_autocomplete }}>
              <form action="{{ routes.search_url }}" class="search_form">
                {% if settings.search_option != 'everything' %}
                  <input type="hidden" name="type" value="product" />
                {% endif %}
                <span class="icon-search search-submit"></span>
                <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" value="{% if search and search.results.first.price %}{{ search.terms | replace: '*', '' }}{% endif %}" autocapitalize="off" autocomplete="off" autocorrect="off" />
              </form>
              <div class="search-link">
                <a href="{{ routes.search_url }}" class="icon-search dropdown_link" title="{{ 'general.search.title' | t | escape }}" data-dropdown-rel="search"></a>
              </div>
            </div>
          {% endif %}
        {% endcapture %}

        {% if section.settings.menu_position == 'inline' %}
            {% if section.settings.logo_position == 'left' %}
              {{ logo }}
              <div class="nav nav--combined">
                <ul class="menu {{ section.settings.menu_alignment }}">
                  {{ menu_left }}
                  {{ menu_right }}
                </ul>
              </div>
              {{ search }}
            {% else %}
              <div class="nav nav--left">
                <ul class="menu {{ section.settings.menu_alignment }}">
                  {{ menu_left }}
                </ul>
              </div>
              {{ logo }}
              <div class="nav nav--right">
                <ul class="menu {% if section.settings.menu_alignment == 'align_left' %}align_right{% elsif section.settings.menu_alignment == 'align_right' %}align_left{% else %}{{ section.settings.menu_alignment }}{% endif %}">
                  {{ menu_right }}
                </ul>
                {% if section.settings.show_cart %}
                  <div class="cart-container">
                    <a href="{{ routes.cart_url }}" class="{% if section.settings.cart_icon == "cart" %}icon-cart{% else %}icon-bag{% endif %} mini_cart dropdown_link" data-no-instant>
                      <span class="cart_count">{{ cart.item_count }}</span>
                    </a>
                    {% unless settings.cart_action == 'ajax' and template contains 'cart' %}
                      <div class="tos_warning cart_content animated fadeIn">
                        <div class="js-empty-cart__message {% if cart.item_count > 0 %}hidden{% endif %}">
                          <p class="empty_cart">{{ 'layout.general.empty_cart' | t }}</p>
                        </div>
                        <form action="{{ routes.cart_url }}"
                              method="post"
                              class="{% if cart.item_count == 0 %}hidden{% endif %}"
                              data-total-discount="{{ cart.total_discount }}"
                              data-money-format="{{ shop.money_format | strip_html }}"
                              data-shop-currency="{{ shop.currency }}"
                              data-shop-name="{{ shop.name | escape }}"
                              data-cart-form="mini-cart">
                          <a class="cart_content__continue-shopping secondary_button">
                            {{ 'cart.general.continue_shopping_link_html' | t }}
                          </a>
                          <ul class="cart_items js-cart_items">
                            {% assign total_saving = 0 %}
                            {% for item in cart.items %}
                              {% if item.variant.compare_at_price > item.variant.price %}
                                {% assign saving = item.variant.compare_at_price | minus: item.variant.price | times: item.quantity %}
                                {% assign total_saving = saving | plus: total_saving %}
                              {% endif %}

                              <li class="mini-cart__item" data-cart-item data-line-id="{{ forloop.index }}" data-variant-id="{{ item.id }}">


                                <a href="{{ item.url }}">
                                  {% if item.image %}
                                    <div class="cart_image mini-cart__item-image">
                                      <img src="{{ item.image | img_url: '320x' }}" alt="{{ item.title | escape }}" class="lazyload" />
                                    </div>
                                  {% endif %}
                                </a>

                                <div class="mini-cart__item--content">
                                  <div class="mini-cart__item__title">
                                    <div class="item_title">
                                      <a href="{{ item.url }}">
                                        {{ item.product.title }}
                                        {% unless item.product.has_only_default_variant or item.variant.title contains "Title" %}
                                          -
                                          {% for option in item.product.options %}
                                            {{ item.variant.options[forloop.index0] }} {% unless forloop.last %}/{% endunless %}
                                          {% endfor %}
                                        {% endunless %}
                                        {% if item.properties %}
                                          {% for p in item.properties %}
                                            {% if p.last != blank %}
                                              <div class="line-item">
                                                {{ p.first }}: {{ p.last }}
                                              </div>
                                            {% endif %}
                                          {% endfor %}
                                        {% endif %}
                                      </a>
                                    </div>
                                  </div>

                                  <strong class="left price">
                                    {% if item.price > 0 %}
                                      <span class="money {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}sale{% endif %}">
                                        {% render 'price-element', price: item.final_price %}
                                      </span>
                                      {% if item.price < item.variant.compare_at_price or item.line_level_discount_allocations.size > 0 %}
                                        <span class="money was_price">
                                          {% render 'price-element', price: item.variant.compare_at_price %}
                                        </span>
                                      {% endif %}
                                    {% else %}
                                        {{ settings.free_price_text }}
                                    {% endif %}
                                  </strong>

                                  {% if item.line_level_discount_allocations.size > 0 %}
                                    {% for discount_allocation in item.line_level_discount_allocations %}
                                      <p class="notification-discount meta">
                                        {{ discount_allocation.discount_application.title }}
                                      </p>
                                    {% endfor %}
                                  {% endif %}

                                  <div class="left product-quantity-box">
                                    <span class="ss-icon product-minus js-change-quantity" data-func="minus"><span class="icon-minus"></span></span>
                                    <input type="number" min="0" size="2" class="quantity" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" data-cart-quantity-input="mini-cart" {% if settings.limit_quantity and item.variant.inventory_management != blank and item.variant.inventory_quantity > 0 and item.variant.inventory_policy == "deny" %}max="{{ item.variant.inventory_quantity }}"{% endif %}/>
                                    <span class="ss-icon product-plus js-change-quantity" data-func="plus"><span class="icon-plus"></span></span>
                                  </div>

                                </div>

                                <a href="{{ routes.cart_change_url }}?line={{ forloop.index }}&amp;quantity=0" class="cart__remove-btn" data-line-id="{{ forloop.index }}" data-remove-item="mini-cart"><span class="remove-icon"></span></a>

                              </li>
                            {% endfor %}
                          </ul>

                          <ul>

                            <li class="cart_discounts js-cart_discounts sale">
                              {% if cart.cart_level_discount_applications != blank %}
                                {% for discount_application in cart.cart_level_discount_applications %}
                                  <span class="cart_discounts--title">{{ discount_application.title }}</span>
                                  <span class="cart_discounts--price">
                                    -<span class="money">{% render 'price-element', price: discount_application.total_allocated_amount %}</span>
                                  </span>
                                {% endfor %}
                              {% endif %}
                            </li>

                            <li class="cart_subtotal js-cart_subtotal">
                              <span class="right">
                                <span class="money">{% render 'price-element', price: cart.total_price %}</span>
                              </span>
                              <span>{{ 'layout.general.subtotal' | t }}</span>
                            </li>

                            <li class="cart_savings sale js-cart_savings">
                              {% if settings.display_savings and total_saving > 0 or settings.display_savings and cart.total_discount > 0 %}
                                <span class="right">
                                  <span class="money">{% assign total_savings = total_saving | plus: cart.total_discount %}{% render 'price-element', price: total_savings %}</span>
                                </span>
                                <span>{{ 'layout.general.savings' | t }}</span>
                              {% endif %}
                            </li>

                            <li>
                              {% if settings.display_special_instructions and settings.go_to_checkout %}
                                <textarea id="note" name="note" rows="2" placeholder="{{ 'layout.general.cart_note' | t }}">{{ cart.note }}</textarea>
                              {% endif %}

                              {% if settings.display_tos_checkbox and settings.go_to_checkout %}
                                <p class="tos">
                                  <input type="checkbox" class="tos_agree" id="sliding_agree" required />
                                    <label class="tos_label">
                                      {{ 'cart.general.agree_to_terms_html' | t }}
                                    </label>
                                    {% if settings.tos_page != blank %}
                                      <a href="{{ pages[settings.tos_page].url }}" target="_blank" class="tos_icon">{{ 'cart.general.view_terms' | t }}</a>
                                    {% endif %}
                                </p>
                              {% endif %}

                              {% if settings.cart_message != blank %}
                                <div class="cart_text">
                                  {{ settings.cart_message }}
                                </div>
                              {% endif %}

                              {% if settings.go_to_checkout %}
                                <button type="submit" name="checkout" class="action_button add_to_cart">{% if settings.show_lock_icon %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.checkout' | t }}</button>
                              {% else %}
                                <button type="submit" class="action_button add_to_cart">{% if settings.show_lock_icon and settings.go_to_checkout %}<span class="icon-lock"></span>{% endif %}{{ 'layout.general.go_to_cart' | t }} </button>
                              {% endif %}
                            </li>
                          </ul>
                        </form>
                      </div>
                    {% endunless %}
                  </div>
                {% endif %}
              </div>
              {{ search }}
            {% endif %}
        {% else %}
          {{ logo }}
          <div class="nav nav--combined nav--{{ section.settings.menu_alignment }}">
            <ul class="menu {{ section.settings.menu_alignment }}">
              {{ menu_left }}
              {{ menu_right }}
            </ul>
            {{ search }}
          </div>
        {% endif %}
        <div class="dropdown_container center" data-dropdown="search">
          <div class="dropdown" data-autocomplete-{{ settings.enable_autocomplete }}>
            <form action="{{ routes.search_url }}" class="header_search_form">
              {% if settings.search_option != 'everything' %}
                <input type="hidden" name="type" value="product" />
              {% endif %}
              <span class="icon-search search-submit"></span>
              <input type="text" name="q" placeholder="{{ 'general.search.title' | t: shop_name: shop.name }}" autocapitalize="off" autocomplete="off" autocorrect="off" class="search-terms" />
            </form>
          </div>
        </div>


        {% render 'sub-menu', linklist: section.settings.main_linklist %}
        {% render 'sub-menu', linklist: section.settings.main_linklist2 %}
      </div>
    </div>
  </div>
</header>

<style>
  div.header__logo,
  div.header__logo img,
  div.header__logo span,
  .sticky_nav .menu-position--block .header__logo {
    max-width: {{ section.settings.logo_display_width }}px;
  }
</style>

{% schema %}

{
  "name": "Header",
  "class": "header-section",
  "settings": [
    {
      "type": "header",
      "content": "Announcement bar"
    },
    {
      "type": "richtext",
      "id": "promo_text",
      "label": "Text",
      "info": "Maximum character limit is 170"
    },
    {
      "type": "checkbox",
      "id": "show_announcement_bar",
      "label": "Show Announcement bar",
      "default": false
    },
    {
      "type": "header",
      "content": "Top bar"
    },
    {
      "type": "checkbox",
      "id": "social_icons_header",
      "label": "Show social media header icons",
      "default": true
    },
    {
      "type": "text",
      "id": "phone_number",
      "label": "Phone number",
      "info": "1-800-555-5555"
    },
    {
      "type": "link_list",
      "id": "top_bar_menu",
      "label": "Menu",
      "info": "This menu won't show drop-down items"
    },
    {
      "type": "checkbox",
      "id": "show_cart",
      "label": "Show cart",
      "default": true
    },
    {
      "type": "select",
      "id": "cart_icon",
      "label": "Cart icon",
      "options": [
        {
          "value": "cart",
          "label": "Cart"
        },
        {
          "value": "bag",
          "label": "Bag"
        }
      ],
      "default": "cart"
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a payment, go to your [currency settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Logos"
    },
    {
      "type": "range",
      "id": "logo_display_width",
      "label": "Logo display width",
      "step": 5,
      "min": 105,
      "max": 205,
      "default": 205,
      "unit": "px"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_home",
      "label": "Secondary logo over content (optional)",
      "info": "400 x 200px recommended"
    },
    {
      "type": "image_picker",
      "id": "logo_mobile",
      "label": "Mobile logo",
      "info": "100 x 50px recommended"
    },
    {
      "type": "header",
      "content": "Menus"
    },
    {
      "type": "link_list",
      "id": "main_linklist",
      "label": "Main menu"
    },
    {
      "type": "link_list",
      "id": "main_linklist2",
      "label": "Secondary menu"
    },
    {
      "type": "checkbox",
      "id": "vertical_menu",
      "label": "Enable vertical menus",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "dropdown_click",
      "label": "Open dropdowns on click instead of hover",
      "default": false
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "search_enabled",
      "label": "Show search",
      "default": true
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "checkbox",
      "id": "fixed_header",
      "label": "Fixed ('sticky') header",
      "default": true
    },
    {
      "type": "select",
      "id": "logo_position",
      "label": "Logo position",
      "info": "Applies when menu position has been set to 'Inline with logo'",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "logo_alignment",
      "label": "Logo alignment",
      "info": "Applies when menu position has been set to 'Under logo'",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "menu_position",
      "label": "Menu position",
      "options": [
        {
          "value": "inline",
          "label": "Inline with logo"
        },
        {
          "value": "block",
          "label": "Under logo"
        }
      ],
      "default": "inline"
    },
    {
      "type": "select",
      "id": "menu_alignment",
      "label": "Menu alignment",
      "options": [
        {
          "value": "align_left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "align_right",
          "label": "Right"
        }
      ],
      "default": "align_left"
    }
  ]
}

{% endschema %}
