
{% include "hero",
  blocks: section.blocks,
  image: section.settings.banner,
  image_mobile: section.settings.banner_mobile,
  image_camera: section.settings.image_camera,
  icon: section.settings.icon,
  title: section.settings.title,
  sub_title: section.settings.sub_title,
  cta_text: section.settings.cta_text,
  cta_url: section.settings.cta_url,
%}

{% schema %}
  {
    "name": "Hero",
    "settings": [
      {
        "type": "image_picker",
        "id": "banner",
        "label": "Image",
        "info": "1800 x 1000px recommended"
      },
      {
        "type": "image_picker",
        "id": "banner_mobile",
        "label": "Image",
        "info": "1800 x 1000px recommended"
      },
      {
        "type": "image_picker",
        "id": "image_camera",
        "label": "Image Camera",
        "info": "1800 x 1000px recommended"
      },
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Smarter, Safer, More Efficient"
      },
      {
        "type": "text",
        "id": "sub_title",
        "label": "Sub Tile",
        "default": "A Smarter Way to Live"
      },
      {
        "type": "text",
        "id": "cta_text",
        "label": "Button Text",
        "default": "Shop Our Products"
      },
      {
        "type": "url",
        "id": "cta_url",
        "label": "Button URL"
      }
    ],
    "presets": [
      {
        "name": "Hero"
      }
    ]
  }
{% endschema %}
