{% include "how-to-earn",
  blocks: section.blocks,
  title: section.settings.title,
  image: section.settings.image
%}

{% schema %}
  {
    "name": "Earn Points",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Earn Points"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "limit": 4,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "text",
            "id": "subtitle",
            "label": "Sub Title"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Earn Points"
      }
    ]
  }
{% endschema %}
