{% include "how-does-it-work",
  blocks: section.blocks,
  title: section.settings.title,
  image_left: section.settings.image_left,
  image_right: section.settings.image_right
%}

{% schema %}
  {
    "name": "How does it work",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_left",
        "label": "Image Left"
      },
      {
        "type": "image_picker",
        "id": "image_right",
        "label": "Image Right"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "How does it work"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "block",
        "settings": [
          {
            "type": "text",
            "id": "number",
            "label": "Number"
          },
          {
          "type": "text",
          "id": "title",
          "label": "Title"
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Content"
          }
        ]
      }
    ],
    "presets": [
      {
      "name": "How does it work"
      }
    ]
  }
{% endschema %}
