{% if section.settings.gallery_id != blank %}

<div id="showcase-gallery-{{ section.id }}" class="full-width">
  <div class="sixteen columns center homepage_content">
    {% if section.settings.title != blank %}
		<h2 class="title">{{ section.settings.title | escape }}</h2>
    	<div class="feature_divider"></div>
    {% endif %}
    
    {% if section.settings.description != blank %}
      <div class="section clearfix featured-collection__description">
        {{ section.settings.description }}
      </div>
    {% endif %}
    
    <div class="gallery-section-media">
        <script src="https://showcase.abovemarket.com/embed/gallery/{{ section.settings.gallery_id }}" 
                data-gallery-id="{{ section.settings.gallery_id }}" 
                data-gallery-style="{{ section.settings.gallery_style }}" 
                data-infinite-scroll="{{ section.settings.enable_infinite_scroll }}"
                data-columns="{{ section.settings.columns }}"
                data-rows="{{ section.settings.rows }}"></script>
    </div>
    
    {% if section.settings.button_page != blank %}
        <div class="gallery-section-footer">
            <a class="btn" href="{{ section.settings.button_page }}">{{ section.settings.button_label | escape }}</a>
        </div>
    {% endif %}
    
    
  </div>
</div>
{% endif %}

{% schema %}
{
  "name": "Showcase Gallery",
  "class": "showcase-gallery-section",
  "settings": [
    {
      "type": "text",
      "id": "gallery_id",
      "label": "Gallery ID",
      "default": "1688"
    },
    {
      "type": "select",
      "id": "gallery_style",
      "label": "Gallery Style",
      "options": [
          {
              "value": "grid",
              "label": "Grid"
          },
          {
              "value": "slider",
              "label": "Slider"
          },
		  {
              "value": "collage",
              "label": "Collage"
          }
      ],
      "default": "slider"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Shop Instagram"
    },
	{
      "type": "textarea",
      "id": "description",
      "label": "Description"
    },
	{
      "type": "text",
      "id": "button_label",
      "label": "Button Label",
      "default": "Shop More Looks"
    },
	{
      "type": "url",
      "id": "button_page",
      "label": "Link to Page"
    },
	{
      "type": "checkbox",
      "id": "enable_infinite_scroll",
      "label": "Enable Infinite Scroll"
    },
	{
      "type": "checkbox",
      "id": "hide_load_more",
      "label": "Hide Load More",
	  "default": true
    },
	{
      "type": "range",
      "id": "columns",
      "label": "Columns",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 3
    },
	{
      "type": "range",
      "id": "rows",
      "label": "Rows",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 2,
	  "info": "Row count is only used for grid style galleries"
    },
	{
      "type": "range",
      "id": "limit",
      "label": "Post Limit",
      "min": 0,
      "max": 50,
      "step": 1,
      "default": 0,
	  "info": "Set to 0 to disable a limit"
    }
  ],
  "presets": [
    {
      "name": "Showcase Gallery",
      "category": "Showcase - Shop Instagram"
    }
  ]
}
{% endschema %}

<style media="screen">
  #showcase-gallery-{{ section.id }} {
    margin: 0 auto;
    padding: 20px 0;
  }
  #showcase-gallery-{{ section.id }}:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  
  {%- if section.settings.limit > 0 -%}
	#showcase-gallery-{{ section.id }} .showcase-grid-item:nth-of-type(1n+{{ section.settings.limit | plus: 1}}) {
		display: none !important;
	}
  {%- endif -%}
  {%- if section.settings.hide_load_more -%}
	#showcase-gallery-{{ section.id }} .showcase-grid-buttons {
		display: none !important;
	}
  {%- endif -%}
</style>

{% stylesheet 'scss' %}
	.showcase-gallery-section {

		.gallery-section-title {
			text-align: center;
		}

		.gallery-section-description {
			text-align: center;
		}

		.gallery-section-media {
			margin: 0;
		}

		.gallery-section-footer {
			text-align: center;
		}

		.showcase-gallery {
			margin: 0;
		}

		// Prevent default Showcase elements from displaying
		.showcase-gallery-title,
		.showcase-gallery-description,
		.showcase-gallery-buttons {
			display: none !important;
		}
	}
{% endstylesheet %}

