{% include "tier-benefits",
  blocks: section.blocks,
  title: section.settings.title
%}

{% schema %}
  {
    "name": "Tier PERKS",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Tier PERKS"
      }
    ],
    "blocks": [
      {
        "type": "Tier",
        "name": "tier",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "checkbox",
            "id": "tier_one",
            "label": "Spend $0 - $250"
          },
          {
            "type": "checkbox",
            "id": "tier_two",
            "label": "Spend $251 - $750"
          },
          {
            "type": "checkbox",
            "id": "tier_three",
            "label": "Spend $751 - $1500"
          },
          {
            "type": "checkbox",
            "id": "tier_four",
            "label": "Spend $1500+"
          }
        ]
      }
    ],
    "presets": [
      {
      "name": "Tier PERKS"
      }
    ]
  }
{% endschema %}
