{% include "tier-overview",
  blocks: section.blocks,
  title: section.settings.title
%}

{% schema %}
  {
    "name": "MF Tiers",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "MF Tiers"
      }
    ],
    "blocks": [
      {
        "type": "image",
        "name": "image",
        "limit": 4,
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "MF Tiers"
      }
    ]
  }
{% endschema %}
