{% include "top-features",
  title: section.settings.title,
  image: section.settings.image,
  video: section.settings.video,
  content_alignment: section.settings.content_alignment,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Top Features",
    "settings": [
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "video",
        "label": "Video URL",
        "default": "https://cdn.shopify.com/s/files/1/0598/1949/1523/files/NOOK_CAM_VIDEO_NEW_LOGO.mp4?v=1631862380"
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "TOP FEATURES"
      },
      {
        "type": "select",
        "id": "content_alignment",
        "label": "Content Alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "right"
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "lorem ipsum"
          }
        ]
      }
    ]
  }
{% endschema %}
