{% include "two-up",
  layout: "number",
  object_fit: 'none',
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Two up 2",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "number",
            "id": "number",
            "label": "Number",
            "default": 1
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>Two Way Communication</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Relay audio messages back and forth between rooms, cities, and even countries. As long as your phone and camera are connected to WiFi, you can send audio between the two.</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "right"
          }
        ]
      }
    ]
  }
{% endschema %}
