{% include "two-up",
  layout: "default",
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Two up 3",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>Place Anywhere<br>You Choose</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p><b>NOOK Cam can easily be installed anywhere in your house with a simple bracket included with your purchase. Ensure the fullest view of any room.</b></p>"
          },
          {
            "type": "richtext",
            "id": "text_list",
            "label": "Text List",
            "default": "<p>Wall-Mounted</p><p>Ceiling Mounted</p><p>Flat on Surface</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          },
          {
            "type": "select",
            "id": "border",
            "label": "Border",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "both",
                "label": "Both"
              },
              {
                "value": "none",
                "label": "None"
              }
            ],
            "default": "none"
          }
        ]
      }
    ]
  }
{% endschema %}
