{% include "two-up",
  layout: 'number',
  class: 'two-up--sm',
  object_fit: 'none',
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Two up 1",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p><b>Stream<br> from Your Phone</b></p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Set a 24 hour stream, or be notified by a motion &  sound detection.<br>Easily see a high definition video of any room in your house.</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "left"
          }
        ]
      }
    ]
  }
{% endschema %}
