{% include "two-up",
  layout: 'default',
  class: 'two-up--about-us',
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "About Us",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>How<br>We Started</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Carter Sanghera had just moved into a new home in Arizona, and was looking for a way for his home to function more seamlessly. From a safe but affordable security system to energy efficient light bulbs that could easily be integrated with the rest of his house, he wanted to put home on the cutting edge of safety and technology. But what he found were dozens of cheap products and brands that couldn’t guarantee a way to live easier. He knew there was a market for simple products that made everything about your home feel simpler.</p><p><b>Thus, NOOK was born.</b></p>"
          },
          {
            "type": "text",
            "id": "cta_text",
            "label": "CTA Text",
            "default": "Shop Our Products"
          },
          {
            "type": "url",
            "id": "cta_url",
            "label": "CTA URL"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "right"
          }
        ]
      }
    ]
  }
{% endschema %}
