{% include "two-up",
  layout: "default",
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Two up",
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>Timer & Schedule</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p><b>Easily set up your smart bulbs to turn on and off throughout the day with scheduled routines. Or, set a timer for a light to slowly fade for bedtime.</b></p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "right"
          },
          {
            "type": "select",
            "id": "border",
            "label": "Border",
            "options": [
              {
                "value": "top",
                "label": "Top"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              },
              {
                "value": "both",
                "label": "Both"
              },
              {
                "value": "none",
                "label": "None"
              }
            ],
            "default": "none"
          }
        ]
      }
    ]
  }
{% endschema %}
