{% include "two-up",
  class: 'two-up--your-privacy'
  layout: "number",
  title: section.settings.title,
  text: section.settings.text,
  blocks: section.blocks
%}

{% schema %}
  {
    "name": "Your Privacy",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title",
        "default": "Your Privacy"
      },
      {
        "type": "text",
        "id": "text",
        "label": "Text",
        "default": "We take your privacy very seriously, which is why there are three ways to keep your NOOK cam from seeing things it shouldn’t."
      }
    ],
    "blocks": [
      {
        "type": "block",
        "name": "Block",
        "settings": [
          {
            "type": "header",
            "content": "Media"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "header",
            "content": "Content"
          },
          {
            "type": "number",
            "id": "number",
            "label": "Number",
            "default": 1
          },
          {
            "type": "richtext",
            "id": "title",
            "label": "Title",
            "default": "<p>One Click Sleep</p>"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Simply put NOOK Cam to sleep via your phone or voice command.</p>"
          },
          {
            "type": "select",
            "id": "content_alignment",
            "label": "Content Alignment",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
            ],
            "default": "right"
          }
        ]
      }
    ]
  }
{% endschema %}
