.two-up {
  margin: 50px 0;

  @media (min-width: break($s)) {
    margin: 64px 0;
  }

  &--sm {
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 20px;

    @media (min-width: break($s)) {
      padding-bottom: 64px;
    }
  }

  &--about-us {
    margin: 90px 0;

    @media (min-width: break($s)) {
      margin: 130px 0 100px;
    }

    @media (min-width: break($s)) {
      margin: 100px 0;
    }
  }
}

.two-up__content-inner {
  .two-up--your-privacy & {
    width: 100%;
  }
}

.two-up__title {
  margin: 0 0 16px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 800;
  text-align: center;
}

.two-up__text {
  margin: 0 auto 35px;
  max-width: 696px;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
  text-align: center;

  @media (min-width: break($s)) {
    margin-bottom: 49px;
  }
}

.two-up__container {
  padding: 0 !important;

  @media (min-width: break($l)) {
    width: calc(100% - 248px);
  }

  .two-up--default & {
    width: 100%;
  }
}

.two-up__inner {
  flex-wrap: wrap;
  display: flex;

  &--content-right {
    @media (min-width: break($s)) {
      flex-direction: row-reverse;
    }
  }
}

.two-up__content {
  order: 1;
  width: 100%;
  padding: 30px 20px;

  @media (min-width: break($s)) {
    order: 0;
    align-items: center;
    display: flex;
    width: 50.56%;
    padding: 30px;
  }

  @media (min-width: break($m)) {
    padding: 100px 100px 100px 124px;
  }

  &--border-top {
    border-top: 1px solid #F2F2F2;
  }

  &--border-bottom {
    border-bottom: 1px solid #F2F2F2;
  }

  &--border-both {
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
  }

  .two-up__inner--content-right & {
    @media (min-width: break($m)) {
      padding: 100px;
    }

    .two-up--sm & {
      @media (min-width: break($m)) {
        padding: 30px 0 30px 73px;
      }
    }

    .two-up--about-us & {
      @media (min-width: break($m)) {
        padding: 30px 62px 30px 100px;
      }
    }
  }

  .two-up--number & {
    justify-content: center;
    text-align: center;

    @media (min-width: break($m)) {
      padding: 38px;
    }
  }

  .two-up--sm & {
    text-align: left;

    @media (min-width: break($m)) {
      padding: 30px 30px 30px 0;
    }
  }

  .two-up--about-us & {
    @media (min-width: break($m)) {
      padding: 30px 38px 30px 124px;
    }
  }
}

.two-up__number {
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 0 auto 32px;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  background-color: rgba(#6C82F2, 0.1);
  font-size: 18px;
  font-weight: 700;
  color: #FF705C;

  .two-up__inner--content-right & {
    color: #6C82F2;
  }
}

.two-up__block-title,
.two-up__block-text {
  color: #000;

  strong {
    padding-bottom: 3px;
    background: linear-gradient(to top, #6C82F2 3px, transparent 0%) repeat left 100%;
  }

  p {
    margin: 0;
    line-height: inherit;
    font-style: inherit;
  }

  .two-up__inner--content-right & {
    strong {
      background: linear-gradient(to top, #FF705C 3px, transparent 0%) repeat left 100%;
    }
  }
}

.two-up__block-title {
  margin-bottom: 32px;
  font-size: 38px;
  line-height: 1.21;
  font-weight: 700;

  @media (min-width: break($s)) {
    font-size: 48px;
  }

  strong {
    padding-bottom: 0;
  }

  + .two-up__cta {
    margin-top: 18px;
    color: $c-white;
  }

  .two-up--number & {
    margin-bottom: 16px;
    font-size: 30px;
    line-height: 1.17;
  }
}

.two-up__block-text {
  font-size: 16px;
  line-height: 1.5;

  @media (min-width: break($l)) {
    max-width: 453px;
  }

  .two-up--your-privacy & {
    margin: 0 auto;
  }

  .two-up--about-us & {
    @media (min-width: break($l)) {
      max-width: none;
    }

    p:not(:last-child) {
      margin-bottom: 32px;
    }
  }

  .two-up__inner--content-right & {
    @media (min-width: break($l)) {
      max-width: 385px;
    }

    .two-up--about-us & {
      @media (min-width: break($l)) {
        max-width: none;
      }
    }
  }
}

.two-up__cta {
  display: inline-block;
  margin-top: 32px;
  border-radius: 5px;
  min-width: 170px;
  padding: 12px;
  background-color: #000;
  font-size: 14px;
  line-height: 1.71;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff !important;

  @media (min-width: break($s)) {
    padding: 19px 16px 18px;
  }

  &:hover {
    opacity: 0.7;
    color: #fff;
  }
}

.two-up__featured {
  width: 100%;

  @media (min-width: break($s)) {
    width: 49.44%;
  }
}

.two-up__image-wrapper {
  position: relative;
  margin: 0;
  height: 100%;
  min-height: 300px;

  @media (min-width: break($s)) {
    min-height: 500px;
  }

  @media (min-width: break($m)) {
    min-height: 712px;
  }

  .two-up--number & {
    @media (min-width: break($s)) {
      min-height: 400px;
    }
  }

  .two-up__featured & {
    @media (max-width: break($s)) {
      min-height: 370px;
    }
  }
}

.two-up__block-text-list {
  margin-top: 32px;
  font-size: 16px;
  font-weight: 600;

  p {
    margin: 0 0 5px;
    line-height: inherit;
    font-style: inherit;

    &::before {
      content: '';
      position: relative;
      top: 4px;
      display: inline-block;
      margin-right: 16px;
      width: 18px;
      height: 18px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='18' height='18' fill='none'%3E%3Cpath d='M17.719 9.25C17.719 4.469 13.78.531 9 .531 4.184.531.281 4.47.281 9.25A8.717 8.717 0 009 17.969c4.781 0 8.719-3.903 8.719-8.719zM7.98 13.89a.596.596 0 01-.808 0l-3.656-3.656a.596.596 0 010-.808l.808-.774a.497.497 0 01.774 0l2.496 2.461 5.273-5.273a.497.497 0 01.774 0l.808.773a.596.596 0 010 .809L7.98 13.89z' fill='%23FF705C'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
