<a name="pagecontent" id="pagecontent"></a>

<div class="sixteen columns clearfix collection_nav">
  <h1 class="collection_title">{{ 'general.404.title' | t }}</h1>
</div>

<div class="sixteen columns">
  <div class="section clearfix">
    <p class="quote">
      {{ 'general.404.subtext' | t }}
    </p>
  </div>
</div>

<div class="section clearfix search_page">
  <div class="sixteen columns center">
    <p class="extra_padding">
      {{ 'general.404.continue_shopping_html' | t }}
    </p>
  </div>
  <div class="six columns offset-by-five">
    <form class="search" action="{{ routes.search_url }}">
      <input type="text" name="q" class="search_box" placeholder="{{ 'general.search.placeholder' | t }}"  value="{{ search.terms }}" />
    </form>
  </div>
</div>
{% include 'wiser_recentview' %}{% include 'wiser_trending' %}{% include 'wiser_topselling' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}