{% section 'product-template' %}
{% section 'product-recommendations' %}

{% render 'product__structured-data' %}
{% include 'wiser_related' %}{% include 'wiser_recommended' %}{% include 'wiser_alsobought' %}{% include 'wiser_recentview' %}{% include 'wiser_topselling' %}{% include 'wiser_trending' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}

{% section "top-features-smart-light" %}

{% section "complete-picture-smart-light" %}

{% section "full-width-image-pdp-1" %}

{% section "full-width-image-pdp-2" %}

{% section "full-width-image-pdp-3" %}

{% section "full-width-image-pdp-4" %}

{% section "two-up-pdp-4" %}

{% section "full-width-image-pdp-5" %}