{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}

{% render 'product__structured-data' %}
{% include 'wiser_related' %}{% include 'wiser_recommended' %}{% include 'wiser_alsobought' %}{% include 'wiser_recentview' %}{% include 'wiser_topselling' %}{% include 'wiser_trending' %}{% include 'wiser_newarrivals' %}{% include 'wiser_featured' %}{% include 'wiser_recent_related' %}

{% section "top-features" %}

{% section "complete-picture" %}

{% section "two-up-pdp-1" %}

{% section "two-up-pdp-2" %}

{% section "two-up-pdp-3" %}

{% section "your-privacy" %}

{% section "full-width-image" %}
