{% comment %}
  The contents of the product.details.liquid template can be found in /sections/product-details-template.liquid
{% endcomment %}

{% section 'product-details-template-sewing-light' %}

{% section 'featured-text-money-back' %}

<div class="container">
  <h2 class="title center">Customers Love Our LIGHT!</h2>
  {% render 'okendo-reviews-widget' %}
</div>
{% render 'product__structured-data' %}
