.top-features {
  margin: 50px 0;

  @media (min-width: break($s)) {
    margin: 49px 0 64px;
  }
}

.top-features__container {
  padding: 0 !important;

  @media (min-width: break($l)) {
    width: calc(100% - 248px);
  }
}

.top-features__title {
  margin: 0 0 48px;
  font-size: 22px;
  line-height: 1.6;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.top-features__inner {
  flex-wrap: wrap;
  display: flex;

  &--content-left {
    flex-direction: row-reverse;
  }
}

.top-features__content {
  align-self: center;
  padding: 30px 0;

  @media (min-width: break($s)) {
    width: 49.32%;
    padding: 43px 0 43px 43px;
  }

  .top-features__inner--content-left & {
    @media (min-width: break($s)) {
      padding: 43px 43px 43px 0;
    }
  }
}

.top-features__featured {
  width: 100%;

  @media (min-width: break($s)) {
    width: 50.68%;
  }
}

.top-features__image-wrapper {
  position: relative;
  margin: 0;
  height: 100%;
  min-height: 340px;
}

.top-features__wrap {
  flex-wrap: wrap;
  align-items: flex-start;
  display: flex;
  margin: 0 -25px;
}

.top-features__item {
  align-items: center;
  display: flex;
  margin-bottom: 24px;
  width: 100%;
  padding: 0 25px;

  @media (min-width: break($m)) {
    width: 50%;
  }

  &:nth-last-child(-n+2) {
    @media (min-width: break($s)) {
      margin-bottom: 0;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.top-features__item-image {
  flex-shrink: 0;
  position: relative;
  margin: 0 20px 0 0;
  width: 30px;
  height: 24px;
}

.top-features__item-title {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 700;
}

.video-container {
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 20px rgba(black, 0.7);

  .video-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  video {
    width: 100%;
    height: 100%;
    border-radius: 4px;
  }
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
  #circle-play-b {
    cursor: pointer;
    pointer-events: auto;

    svg {
      width: 50px;
      height: 50px;
      fill: #fff;
      stroke: #fff;
      cursor: pointer;
      background-color: rgba(black, 0.2);
      border-radius: 50%;
      opacity: 0.9;
    }
  }
}
