.banner {
  overflow: inherit !important;
}

.banner__badge-image {
  position: absolute;
  bottom: 10%;
  left: 5%;
  width: 90px;
  height: 90px;
  z-index: 8;

  @media (min-width: break($s)) {
    bottom: -6%;
  }

  @media (min-width: break($l)) {
    bottom: -8%;
    width: 166px;
    height: 170px;
  }
}

.banner__badge-image-wrapper {
  width: 100%;
  height: 100%;
}
