.tier-overview {
  padding-bottom: 40px;

  @media (min-width: break($m)) {
    padding-bottom: 60px;
  }
}

.tier-overview__container.container {
  padding: 0;
}

.tier-overview__title {
  margin: 0 0 30px;

  @media (min-width: break($s)) {
    margin: 0 0 40px;
  }
}

.tier-overview__images {
  flex-wrap: wrap;
  margin: 0 -10px;

  @media (min-width: break($m)) {
    max-width: 768px;
    margin: 0 auto;
  }
}

.tier-overview__image {
  width: calc(100% / 2 - 10px);
  margin: 0 5px;
  padding-bottom: 30px;

  @media (min-width: break($s)) {
    width: calc(100% / 4 - 20px);
    margin: 0 10px;
  }
}

.tier-overview__image-wrapper {
  width: 100px;
  height: 100px;
  margin: 0 auto;

  @media (min-width: break($s)) {
    width: 150px;
    height: 150px;
  }
}
