.full-width-image {
  position: relative;
  margin: 50px 0;

  @media (min-width: break($s)) {
    margin: 65px 0;
  }

  &.full-width-image--pdp {
    margin: 0 0 24px;
  }
}

.full-width-image__container {
  padding: 0 !important;
  
  @media (min-width: break($l)) {
    width: calc(100% - 248px);
  }
}

.full-width-image__image {
  position: relative;
  display: block;
  margin: 0;
  width: 100%;
  
  &::before {
    content: '';
    display: block;
    padding-bottom: 59.73%;
  }

  .full-width-image--pdp & {
    @media (min-width: break($m)) {
      &::after {
        content: '';
        position: absolute;
        z-index: 2;
        right: 0;
        bottom: 0;
        left: 0;
        height: 55%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(52, 54, 56, 0.7) 100%);
      }
    }
  }
}

.full-width-image__inner {
  @media (min-width: break($m)) {
    position: absolute;
    z-index: 5;
    top: 60px;
    right: 60px;
    bottom: 60px;
    left: 60px;
    align-items: flex-end;
    display: flex;
  }

  &.full-width-image__inner--content-right {
    @media (min-width: break($m)) {
      flex-direction: row-reverse;
    }
  }
}

.full-width-image__col {
  @media (min-width: break($m)) {
    width: 50%;
  }
}

.full-width-image__title {
  margin: 20px 0 0;
  font-size: 30px;
  line-height: 1.21;
  font-weight: 700;
  
  @media (min-width: break($m)) {
    margin-top: 0;
    color: #fff;
  }
  
  strong {
    padding-bottom: 1px;
    background: linear-gradient(to top, #FF705C 3px, transparent 0%) repeat left 100%;
  }

  p {
    margin: 0;
    line-height: inherit;
    font-style: inherit;
  }
}

.full-width-image__text {
  margin-top: 24px;
  font-size: 16px;
  line-height: 1.375;
  font-weight: 700;

  @media (min-width: break($m)) {
    color: #fff;
  }
}

.full-width-image__icons {
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  margin-top: 20px;

  @media (min-width: break($m)) {
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
  }

  .full-width-image__inner--content-left & {
    @media (min-width: break($m)) {
      justify-content: flex-end;
      align-items: flex-end;
    }
  }
}

.full-width-image__icon {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 12px 6px 0;
  border: 1px solid #000;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: #fff;

  @media (min-width: break($m)) {
    margin: 22px 22px 0 0;
    border-color: transparent;
  }

  .full-width-image__inner--content-left & {
    @media (min-width: break($m)) {
      margin-right: 0;
      margin-left: 22px;
    }
  }
}